@use '../shared-styles/index' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include type-style(licence-plate-season);
  color: v(text-01);
}

span:first-child {
  border-bottom: v(licence-plate-season-divider-size) solid;
}

:host(.has-outline) {
  @include type-style(licence-plate-season-outline);
}

:host(.is-disabled) {
  color: v(formfield-disabled-text-color);

  span {
    border-color: v(formfield-disabled-border-color);
  }
}
