@import '../shared-styles/index';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    background-color: v(licence-plate-prefix-background);
    height: 100%;
    min-width: nx-spacer(m);
    max-width: nx-spacer(3m);
    border-radius: nx-border-radius(s);
    padding: 0 nx-spacer(3xs);
    @include type-style(paragraph-03);
    color: v(licence-plate-prefix-color);
}

:host(.has-outline) {
    margin-left: -7px;
    border-radius: 3px 0 0 3px;
}

:host(.is-disabled) {
    -webkit-text-fill-color: v(licence-plate-prefix-color);
    color: v(licence-plate-prefix-color);
    background-color: v(licence-plate-prefix-background);
    opacity: 0.4;
}
