.breakdown-table {
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--ui-01);
    border: solid 1px var(--ui-04);
}

@media (max-width: 704px) {
    .breakdown-table {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.breakdown-table__content {
    text-align: center;
}

.breakdown-table ::ng-deep .nx-expansion-panel--light {
    box-shadow: none !important;
}

.breakdown-table ::ng-deep .nx-expansion-panel__header-title {
    font-size: 16px !important;
    font-weight: bold !important;
}

.breakdown-table ::ng-deep .nx-expansion-panel__header-content {
    padding-top: 16px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.breakdown-table ::ng-deep .nx-expansion-panel__body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 24px !important;
}

.breakdown-table li {
    font-weight: normal;
}

.breakdown-table li:not(:last-child) {
    margin-bottom: 8px;
}

.breakdown-table ul:last-child {
    margin-bottom: 0;
}

.breakdown-table li[nxListIcon='check'] ::ng-deep nx-icon {
    color: #1e8927;
}

.breakdown-table li[nxListIcon='close'] ::ng-deep nx-icon {
    color: #ff6161;
}
