<ng-template #content>
  @if (_table.viewType === 'desktop' || _table.viewType === 'tablet') {
    <td
      class="nx-comparison-table__intersection-cell"
      role="cell"
      [attr.colspan]="_intersectionColspan()"
      [attr.headers]="_headerIds()"
    >
      <div class="nx-comparison-table__sticky-banner">
        <ng-container *ngTemplateOutlet="ngContent"></ng-container>
      </div>
    </td>
  }
  @if (_table.viewType === 'mobile') {
    <td
      class="nx-comparison-table__intersection-cell nx-comparison-table__mobile-cell"
      [attr.rowspan]="_mobileRowspan()"
      [attr.headers]="_headerIds()"
    >
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </td>
  }
</ng-template>

<ng-template #ngContent>
  <ng-content></ng-content>
</ng-template>
