@use '../../shared-styles/index' as *;

:host {
  display: block;
  padding-bottom: calc(v(dropdown-group-divider-gap-vertical) * 2);
}

:host:not(:last-child) .nx-dropdown-results__group {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - v(dropdown-item-padding-right) * 2);
    height: 1px;
    margin: 0 v(dropdown-item-padding-right);
    background-color: v(dropdown-group-divider);
    bottom: calc(v(dropdown-group-divider-gap-vertical) * -1);
    left: 0;
  }
}

.nx-dropdown-results__group-label {
  @include type-style(dropdown-group-label);
  padding: v(dropdown-group-label-padding);
  color: v(dropdown-group-label-color);
}
