@if (label()) {
  <div class="nx-stepper__label">
    <label [for]="inputId">
      {{ label() }}
    </label>
  </div>
}
@if (!label()) {
  <div class="nx-stepper__label" #customLabel [attr.id]="labelId">
    <ng-content></ng-content>
  </div>
}
<div class="nx-stepper__input-container" [class.error-spacing]="_isError()">
  <button
    [attr.aria-label]="decrementAriaLabel || _intl.decrementAriaLabel"
    [nxButton]="_buttonType"
    class="nx-stepper__down nx-stepper__control"
    (click)="decrementOnClick()"
    [disabled]="disabledButton() || (value || 0) <= min"
    [attr.aria-disabled]="disabledButton()"
    type="button"
  >
    <nx-icon name="minus" size="s" aria-hidden="true"></nx-icon>
  </button>
  <div class="nx-stepper__input-wrapper">
    <div class="nx-stepper__inner-wrapper">
      <ng-content select="nx-number-stepper-prefix"></ng-content>
      <input
        type="text"
        inputmode="decimal"
        [nxAutoResize]="resize"
        [id]="inputId"
        [ngClass]="inputClassNames"
        [value]="viewValue()"
        (input)="onInputChange($event)"
        (blur)="handleBlur()"
        #nativeInput
        spellcheck="false"
        [disabled]="disabled"
        [readonly]="readonly || inputFieldReadonly()"
        [attr.aria-invalid]="_isError() || null"
        [attr.aria-describedby]="ariaDescribedByComputed()"
        [attr.aria-label]="inputAriaLabel()"
        [attr.aria-labelledby]="ariaLabelledByComputed()"
        (keydown.arrowup)="incrementOnKey($event)"
        (keydown.arrowdown)="decrementOnKey($event)"
      />

      <ng-content select="nx-number-stepper-suffix"></ng-content>
    </div>
    <div class="nx-stepper__input-underline"></div>
  </div>

  <button
    [attr.aria-label]="incrementAriaLabel || _intl.incrementAriaLabel"
    [nxButton]="_buttonType"
    class="nx-stepper__up nx-stepper__control"
    (click)="incrementOnClick()"
    type="button"
    [disabled]="disabledButton() || (value || 0) >= max"
    [attr.aria-disabled]="disabledButton()"
  >
    <nx-icon name="plus" size="s" aria-hidden="true"></nx-icon>
  </button>
</div>

<!-- Eventhough error state is only set after blur, we need to hold off content-projected errors that are coming from the form control (e.g. 'required') -->
@if (!_ngControl || _errorState()) {
  <ng-content select="nx-error"></ng-content>
}
