<div *ngIf="label" class="nx-stepper__label">
    <label [for]="inputId">
        {{ label }}
    </label>
</div>
<div class="nx-stepper__label" #customLabel *ngIf="!label" [attr.id]="ariaDescribedBy">
    <ng-content></ng-content>
</div>
<div class="nx-stepper__input-container">
    <button
        [attr.aria-label]="decrementAriaLabel || _intl.decrementAriaLabel"
        [nxButton]="_buttonType"
        class="nx-stepper__down nx-stepper__control"
        (click)="decrementOnClick()"
        [disabled]="disabled || (value || 0) <= min"
        type="button"
    >
        <nx-icon name="minus" size="s" aria-hidden="true"></nx-icon>
    </button>
    <div class="nx-stepper__input-wrapper">
        <div class="nx-stepper__inner-wrapper">
            <ng-content select="nx-number-stepper-prefix"></ng-content>

            <input
                type="number"
                [nxAutoResize]="resize"
                [attr.aria-describedby]="ariaDescribedBy"
                [attr.aria-label]="inputAriaLabel"
                [id]="inputId"
                [ngClass]="inputClassNames"
                (input)="onInputChange($event)"
                (blur)="onTouchedCallback()"
                (keydown.arrowup)="incrementOnKey($event)"
                (keydown.arrowdown)="decrementOnKey($event)"
                #nativeInput
                spellcheck="false"
                [disabled]="disabled"
                [readonly]="readonlyInput"
            />

            <ng-content select="nx-number-stepper-suffix"></ng-content>
        </div>
        <div class="nx-stepper__input-underline"></div>
    </div>

    <button
        [attr.aria-label]="incrementAriaLabel || _intl.incrementAriaLabel"
        [nxButton]="_buttonType"
        class="nx-stepper__up nx-stepper__control"
        (click)="incrementOnClick()"
        [disabled]="disabled || (value || 0) >= max"
        type="button"
    >
        <nx-icon name="plus" size="s" aria-hidden="true"></nx-icon>
    </button>
</div>
