@import '../shared-styles/index';

:host {
    display: flex;
    justify-content: center;

    .nx-tab-header {
        display: flex;
        align-items: flex-end;
        overflow-x: scroll;
        position: relative;
        outline: none;

        -ms-overflow-style: none; // hide scrollbar on IE
        scrollbar-width: none; // hide scrollbar on firefox

        // hide scrollbar on chrome, edge, safari
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.at-start {
        .nx-tab-header {
            margin-left: -8px;
            padding-left: 8px;

            [dir='rtl'] & {
                margin-left: 0;
                padding-left: 0;
                margin-right: -8px;
                padding-right: 8px;
            }
        }
    }

    &:not(.scrollable) {
        .nx-tab-header {
            margin-right: -8px;
            padding-right: 8px;

            [dir='rtl'] & {
                margin-right: 0;
                padding-right: 0;
                margin-left: -8px;
                padding-left: 8px;
            }
        }
    }
}

:host-context(nx-tab-group.is-expert) {
    justify-content: flex-start;
    border-bottom-width: nx-border-size(xs);
    border-bottom-style: solid;
    border-bottom-color: v(tab-expert-bottom-border-color);

    .nx-tab-header {
        width: 100%;
    }
}
