@use '../shared-styles/index' as *;

:host {
  display: flex;
  justify-content: center;
  position: relative;

  .nx-tab-header {
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    outline: none;

    -ms-overflow-style: none; // hide scrollbar on IE
    scrollbar-width: none; // hide scrollbar on firefox

    // hide scrollbar on chrome, edge, safari
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.at-start {
    .nx-tab-header {
      margin-inline-start: calc(0px - v(tab-header-edge-inset));
      padding-inline-start: v(tab-header-edge-inset);
    }
  }

  &.at-end {
    .nx-tab-header {
      margin-inline-end: calc(0px - v(tab-header-edge-inset));
      padding-inline-end: v(tab-header-edge-inset);
    }
  }

  &:not(.scrollable) {
    .nx-tab-header {
      margin-inline-end: calc(0px - v(tab-header-edge-inset));
      padding-inline-end: v(tab-header-edge-inset);
    }
  }
}

:host-context(nx-tab-group.is-expert) {
  justify-content: flex-start;
  border-bottom-width: nx-border-size(xs);
  border-bottom-style: solid;
  border-bottom-color: v(tab-expert-bottom-border-color);

  .nx-tab-header {
    width: 100%;
  }
}
