@use '../shared-styles/index' as *;

:host(.nx-menu) {
  display: block;
}

.nx-menu__wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  background: v(menu-background-color);
}

::ng-deep .nx-menu__link {
  display: block;
  padding: v(menu-link-padding);
  font-size: v(menu-link-font-size);
  line-height: v(menu-link-line-height);
  outline: none;

  + .nx-menu__link {
    margin-top: v(menu-link-margin-top);
  }
}

::ng-deep .nx-menu__link.cdk-keyboard-focused {
  @include focus-style;
  border-radius: nx-border-radius(s);
  outline: none;
}

::ng-deep .nx-menu__item {
  &.nx-menu__item--small,
  &.nx-menu__item--large {
    padding: v(menu-item-padding);
    border-bottom: v(menu-item-border-width) solid v(menu-item-border-color);

    @media screen and (forced-colors: active) {
      border-bottom-color: CanvasText;
    }
  }

  &.nx-menu__item--large {
    padding-left: v(menu-item-large-padding-left);

    :host-context([dir='rtl']) & {
      padding-right: v(menu-item-large-padding-left);
      padding-left: initial;
    }
  }
}

@media screen and (forced-colors: active) {
  ::ng-deep .nx-menu__link {
    text-decoration: none;
  }
}
