<div class="container">
    <div class="header">
        <ng-content select="[nxSmallStageHeader]"></ng-content>
    </div>
    <div class="image-start">
        <ng-content select="[nxSmallStageImageStart]"></ng-content>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
    <div class="image-end">
        <ng-content select="[nxSmallStageImageEnd]"></ng-content>
    </div>
    <div class="image-bottom">
        <ng-content select="[nxSmallStageImageBottom]"></ng-content>
    </div>
</div>
