@use '../../shared-styles/index' as *;

:host {
  flex-shrink: 0;
  background-color: v(toolbar-divider-color);
  width: v(toolbar-divider-width);
  height: v(toolbar-divider-height);
  margin: v(toolbar-divider-margin);
}
