<ng-template #content>
  @if (_table.viewType === 'desktop') {
    <th class="nx-comparison-table__description-cell" scope="row" role="rowheader" [attr.id]="id">
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </th>
  }

  @if (_table.viewType === 'tablet') {
    <th
      class="nx-comparison-table__description-cell is-description-banner"
      scope="colgroup"
      role="columnheader"
      [attr.colspan]="_table._infoColumnCount()"
      [attr.id]="id"
    >
      <div class="nx-comparison-table__sticky-banner">
        <ng-container *ngTemplateOutlet="ngContent"></ng-container>
      </div>
    </th>
  }

  @if (_table.viewType === 'mobile') {
    <th
      class="nx-comparison-table__description-cell nx-comparison-table__mobile-cell"
      [class.is-intersection-column]="_row._isIntersectionRow()"
      scope="col"
      [attr.id]="id"
    >
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </th>
  }
</ng-template>

<ng-template #ngContent>
  <ng-content></ng-content>
</ng-template>
