<div nxLayout="grid">
    <div nxRow>
        <div nxCol="12">
            <h4 nxHeadline="subsection-xsmall">Standard dropdown</h4>
            <nx-formfield label="Car brand">
                <nx-dropdown>
                    <nx-dropdown-item
                        *ngFor="let brand of options"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
            <nx-formfield label="Readonly Dropdown">
                <nx-dropdown value="BMW" readonly>
                    <nx-dropdown-item value="BMW"></nx-dropdown-item>
                    <nx-dropdown-item value="Audi"></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
            <nx-formfield label="Disabled Dropdown">
                <nx-dropdown value="BMW" disabled>
                    <nx-dropdown-item value="BMW"></nx-dropdown-item>
                    <nx-dropdown-item value="Audi"></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
            <nx-formfield label="Error dropdown">
                <nx-dropdown
                    #exampleErrorNgModel
                    [(ngModel)]="modelBlank"
                    required
                >
                    <nx-dropdown-item
                        *ngFor="let brand of options"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
                <nx-error nxFormfieldError appearance="text">
                    Error message
                </nx-error>
            </nx-formfield>
            <nx-formfield label="With icon dropdown">
                <nx-dropdown>
                    <nx-dropdown-item
                        *ngFor="let brand of options"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
                <nx-icon nxFormfieldAppendix name="info-circle-o"> </nx-icon>
            </nx-formfield>
        </div>
    </div>
    <div nxRow>
        <div nxCol="12">
            <h4 nxHeadline="subsection-xsmall">Filter dropdown</h4>
            <nx-formfield label="Car brand">
                <nx-dropdown
                    [showFilter]="true"
                    filterPlaceholder="Type to search car"
                >
                    <nx-dropdown-item
                        *ngFor="let brand of options"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
        </div>
        <div nxCol="12">
            <h4 nxHeadline="subsection-xsmall">Group dropdown</h4>
            <nx-formfield label="Animals">
                <nx-dropdown [(value)]="model">
                    <nx-dropdown-group
                        *ngFor="let group of groups"
                        [label]="group.label"
                    >
                        <nx-dropdown-item
                            *ngFor="let item of group.items"
                            [value]="item"
                        ></nx-dropdown-item>
                    </nx-dropdown-group>
                </nx-dropdown>
            </nx-formfield>
        </div>

        <div nxCol="12">
            <h4 nxHeadline="subsection-xsmall">Multi select dropdown</h4>
            <nx-formfield label="Car brand">
                <nx-multi-select
                    filter
                    [(ngModel)]="brands"
                    [options]="options"
                ></nx-multi-select>
            </nx-formfield>
        </div>
    </div>
</div>
