@use '../shared-styles/index' as *;

$divider-horizontal-margin: v(context-menu-item-horizontal-padding);
$divider-vertical-margin: v(context-menu-item-vertical-padding);

.nx-context-menu {
  border-radius: nx-border-radius(s);
  background: v(context-menu-background-color);

  // Initial state (before enter animation)
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity $context-menu-enter-duration $context-menu-enter-easing,
    transform $context-menu-enter-duration $context-menu-enter-easing;

  &.context-menu-enter {
    opacity: 1;
    transform: scale(1);
  }

  &.context-menu-leave {
    transition:
      opacity $context-menu-leave-duration $context-menu-leave-easing,
      transform $context-menu-leave-duration $context-menu-leave-easing;
    opacity: 0;
    transform: scale(0.8);
  }

  @media screen and (forced-colors: active) {
    border: nx-border-size(xs) solid CanvasText;
  }

  // Give the menu a minimum height so that the user can't
  // collapse it to zero when they scroll away.
  min-height: 56px;
  box-shadow: v(shadow-small);
  outline: none;
  overflow-y: auto;

  &.ng-animating {
    pointer-events: none;
  }

  .nx-context-menu__content ::ng-deep nx-divider {
    width: calc(100% - 2 * $divider-horizontal-margin);
    margin: $divider-vertical-margin $divider-horizontal-margin;
  }
}

// `:not(:empty)` allows for the menu to collapse to 0x0 when it doesn't have content.
.nx-context-menu__content:not(:empty) {
  padding-top: nx-spacer(2xs);
  padding-bottom: nx-spacer(2xs);
  display: flex;
  flex-direction: column;

  @media screen and (forced-colors: active) {
    background-color: buttonFace;
  }
}
