@use '../shared-styles/index' as *;

.nx-context-menu-group__label {
  color: v(context-menu-group-header-color);
  font: v(context-menu-group-header-font);
  letter-spacing: v(context-menu-group-header-letter-spacing);
  padding: v(context-menu-group-padding-vertical) v(context-menu-group-padding-horizontal);
}
