<input
  [attr.id]="toggleButtonId"
  #toggleInput
  [attr.name]="toggleId"
  [checked]="selected"
  class="nx-radio-toggle__input"
  type="radio"
  (click)="_onInputClick($event)"
  [disabled]="disabled"
  [ngClass]="{ 'disable-mobile': disableMobile }"
  [attr.aria-label]="ariaLabel"
  [attr.aria-disabled]="readonly || null"
  [attr.aria-describedby]="errorMessageId()"
  [attr.aria-invalid]="controlInvalid()"
  [class.is-readonly]="readonly"
/>
<div
  (click)="triggerInputClick($event)"
  [ngClass]="{ 'disable-mobile': disableMobile }"
  #toggleButtonLabelContainer
  class="nx-radio-toggle__label-container"
>
  <label
    [attr.for]="toggleButtonId"
    class="nx-radio-toggle__label"
    [ngClass]="{ 'disable-mobile': disableMobile }"
  >
    <nx-icon class="nx-toggle-button__mobile-check" name="check" aria-hidden="true"></nx-icon>
    <ng-content></ng-content>
  </label>
</div>
