@use '../shared-styles/index' as *;

:host {
  display: block;
  width: 100%;
}

.nx-phone-input___wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.hide {
  display: none;
  visibility: hidden;
}

input {
  flex: 1;
}

.readonly-input {
  margin-inline-start: v(formfield-outline-spacing);
}

nx-dropdown {
  width: auto;
  margin-inline-end: 8px;

  &.cdk-keyboard-focused {
    @include focus-style();
    border-radius: 4px;
  }

  // Overrides of input and dropdown necessary
  // the formfield brings some styles assuming that dropdown and input are used
  // standalone, so e.g. both have a padding left and right of 7px to bring some space
  // to the formfield container. for the phone input we need to override these things
  ::ng-deep {
    .nx-dropdown__container {
      padding-inline-end: 0;
    }

    .nx-dropdown__icon {
      margin-inline-start: 8px;
    }
  }
}

:host-context(.nx-formfield.has-outline) {
  nx-dropdown {
    margin-inline-start: v(formfield-outline-spacing);
  }

  input {
    padding-inline-start: 0;
  }

  ::ng-deep {
    .nx-dropdown__container {
      padding: 0;
    }
  }
}

:host-context(.is-disabled) {
  input {
    cursor: not-allowed;
  }
}

input {
  text-align: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: 0 0;
  color: inherit;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}
