.example-container {
  height: 400px;
}

.main-content {
  padding-right: 24px;
}

.my-sidepanel {
  width: 384px;
}

.my-sidepanel-header {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 0 32px;
}

.my-sidepanel-content {
  padding: 0 32px 32px 32px;
}

.my-sidepanel ::ng-deep nx-tab-header {
  margin-top: 24px;
}

.my-sidepanel ::ng-deep nx-tab-header,
.my-sidepanel ::ng-deep nx-tab-scroll-indicator {
  background-color: var(--sidepanel-background-color);
}
