{
    "tabWidth": 4,
    "proseWrap": "never",
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 160,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "endOfLine": "lf",
    "overrides": [{ "files": ["projects/ng-aquila/documentation/examples/**/*"], "options": { "printWidth": 80 } }]
}
