.example-container {
  height: 400px;
}

.my-sidepanel {
  width: 240px;
}

.my-sidepanel-header {
  display: flex;
  justify-content: space-between;
  /* The custom padding will be overridden by A1 theme styles */
  padding: 32px 32px 24px 32px;
}

.my-sidepanel-content {
  /* The custom padding will be overridden by A1 theme styles */
  padding: 0 32px 32px 32px;
}

.example-hint nx-icon {
  vertical-align: bottom;
}
