<ng-template>
    <div [ngClass]="classList" class="nx-popover" role="dialog" aria-hidden="false" (click)="_onClick($event)">
        <div class="nx-popover__content" [attr.tabindex]="triggerType === 'hover' ? null : 0">
            <div class="nx-popover__arrow" [ngStyle]="arrowStyle" *ngIf="!hidePopoverArrow"></div>
            <span
                [attr.aria-label]="_intl.closeIconLabel"
                tabindex="0"
                role="button"
                class="nx-popover__close-icon"
                (click)="emitCloseButtonClick()"
                (keyup)="_onCloseKeyup($event)"
                (keydown)="_onCloseKeydown($event)"
                *ngIf="showCloseButton"
            >
                <nx-icon aria-hidden="true" name="close"></nx-icon>
            </span>

            <span [id]="id">
                <ng-content></ng-content>
                <ng-container [ngTemplateOutlet]="_lazyContent?._template ?? null"></ng-container>
            </span>
        </div>
    </div>
</ng-template>
