@use '../shared-styles/index' as *;

.nx-popover {
  position: relative;
  filter: v(popover-filter-shadow);
}

.nx-popover__content {
  @include type-style(popover-content);
  background-color: v(popover-background-color);
  color: v(popover-text-color);
  border: v(popover-border-size) solid v(popover-border-color);
  border-radius: v(popover-border-radius);
  padding: v(popover-content-padding);
  display: block;

  &:has(.nx-popover__close-icon) {
    padding: v(popover-content-padding-close);
  }
  &:has(.nx-popover__close-icon):has(.nx-popover__title) {
    padding: v(popover-content-padding-close-title);
  }

  &:has(.nx-popover__main-content) {
    ::ng-deep .nx-popover__title {
      margin-right: v(popover-spacing);
      font-size: v(popover-title-font-size);
    }
  }

  &:focus {
    outline: none;
  }

  // don't show inner dotted border on firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

::ng-deep .nx--popover__actions {
  display: flex;
  gap: v(popover-action-gap);
  @media (max-width: 320px) {
    flex-direction: v(popover-action-small-screen-direction);
  }
}

.nx-popover__close-icon {
  position: absolute;
  top: v(popover-close-icon-top);
  right: v(popover-close-icon-right);
  color: v(popover-close-icon-color);
  font-size: v(popover-close-icon-size);

  [dir='rtl'] & {
    right: auto;
    left: v(popover-close-icon-right);
  }
}

.nx-popover__arrow {
  position: absolute;
  opacity: inherit;
  overflow: visible;

  path {
    fill: v(popover-background-color);
  }

  .nx-popover__arrow-border {
    fill: none;
    stroke: v(popover-border-color);
    stroke-width: v(popover-border-size);
    stroke-linecap: butt;
    vector-effect: non-scaling-stroke;
  }

  .nx-popover--top &,
  .nx-popover--bottom & {
    width: v(popover-arrow-width);
    height: v(popover-arrow-height);
  }

  .nx-popover--left &,
  .nx-popover--right & {
    width: v(popover-arrow-height);
    height: v(popover-arrow-width);
  }
}

.nx-popover--top .nx-popover__arrow {
  transform: translateX(-50%);
  bottom: calc(v(popover-arrow-height) * -1 + v(popover-border-size));
}

.nx-popover--right .nx-popover__arrow {
  transform: translateY(-50%) rotate(180deg);
  left: calc(v(popover-arrow-height) * -1 + v(popover-border-size));
}

.nx-popover--bottom .nx-popover__arrow {
  transform: translateX(-50%) rotate(180deg);
  top: calc(v(popover-arrow-height) * -1 + v(popover-border-size));
}

.nx-popover--left .nx-popover__arrow {
  transform: translateY(-50%);
  right: calc(v(popover-arrow-height) * -1 + v(popover-border-size));
}
