@use '../shared-styles/index' as *;

$popover-arrow-size: v(popover-arrow-size);

$popover-arrow-offset: calc((#{$popover-arrow-size} * 0.5 - nx-border-size(xs)) * -1);

$popover-border-size: nx-border-size(xs);
$arrow-shadow: v(popover-arrow-shadow);
$padding-content: nx-spacer(2m) - $popover-border-size;

.nx-popover {
  position: relative;
}

.nx-popover__content {
  @include type-style(popover-content);
  background-color: v(popover-background-color);
  color: v(popover-text-color);
  border: $popover-border-size solid v(popover-border-color);
  border-radius: v(popover-border-radius);
  box-shadow: v(popover-box-shadow);
  padding: v(popover-content-padding);
  display: block;

  &:has(.nx-popover__close-icon) {
    padding: v(popover-content-padding-close);
  }

  &:has(.nx-popover__main-content) {
    ::ng-deep .nx-popover__title {
      margin-right: nx-spacer(s);
      font-size: v(popover-title-font-size);
    }
  }

  &:focus {
    outline: none;
  }

  // don't show inner dotted border on firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

::ng-deep .nx--popover__actions {
  display: flex;
  gap: v(popover-action-gap);
  @media (max-width: 320px) {
    flex-direction: v(popover-action-small-screen-direction);
  }
}

.nx-popover__close-icon {
  position: absolute;
  top: v(popover-close-icon-top);
  right: v(popover-close-icon-right);
  color: v(popover-text-color);
  font-size: v(popover-close-icon-size);

  [dir='rtl'] & {
    right: auto;
    left: nx-spacer(3xs);
  }
}

.nx-popover__arrow {
  width: $popover-arrow-size;
  height: $popover-arrow-size;
  background-color: inherit;
  position: absolute;
  transform: translate(-50%, 0);
  border-top: $popover-border-size solid v(popover-border-color);
  border-left: $popover-border-size solid v(popover-border-color);
}

.nx-popover--top .nx-popover__arrow {
  transform: translate(-50%, 0) rotate(225deg) scale(v(popover-arrow-scale));
  bottom: $popover-arrow-offset;
  box-shadow:
    2px 2px 1px 1px v(popover-background-color),
    $arrow-shadow;
}

.nx-popover--right .nx-popover__arrow {
  transform: translate(0, -50%) rotate(-45deg) scale(v(popover-arrow-scale));
  left: $popover-arrow-offset;
  box-shadow:
    2px 2px 1px 1px v(popover-background-color),
    $arrow-shadow;
}

.nx-popover--bottom .nx-popover__arrow {
  transform: translate(-50%, 0) rotate(45deg) scale(v(popover-arrow-scale));
  top: $popover-arrow-offset;
  box-shadow:
    2px 2px 1px 1px v(popover-background-color),
    $arrow-shadow;
}

.nx-popover--left .nx-popover__arrow {
  transform: translate(0, -50%) rotate(135deg) scale(v(popover-arrow-scale));
  right: $popover-arrow-offset;
  box-shadow:
    2px 2px 1px 1px v(popover-background-color),
    $arrow-shadow;
}
