@import '../../shared-styles/index';

$item-size: nx-spacer(3m);
$calendar-content-width: 7 * $item-size;

.nx-calendar-content {
    width: $calendar-content-width;
    margin: nx-spacer(s) auto 0 auto;
}

.nx-calendar-previous-button,
.nx-calendar-next-button {
    color: v(datefield-controls-color);
    font-size: v(datefield-controls-icon-size);
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;

    padding: 0;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: v(datefield-controls-hover-color);
    }

    &[disabled] {
        cursor: not-allowed;
        nx-icon {
            color: v(disabled-01);
        }
    }
}

.nx-calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nx-calendar-period-label {
    @include type-style(datefield-period-label);
    color: v(datefield-period-label-color);
    text-align: center;
}

.nx-calendar-view-controls {
    text-align: center;
    height: nx-spacer(m);
}

.nx-calendar-change-view-button {
    @include type-style(datefield-change-view);
    color: v(datefield-change-view-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: nx-spacer(2xs) 0 0 0;
    height: nx-spacer(s);

    &:focus {
        outline: 0;
    }

    &:hover {
        color: v(datefield-change-view-hover-color);
    }
}

.nx-calendar-change-view-button.cdk-keyboard-focused,
.nx-calendar-previous-button.cdk-keyboard-focused,
.nx-calendar-next-button.cdk-keyboard-focused {
    @include focus-style;
    border-radius: nx-border-radius(s);
}

// don't show inner dotted border on firefox
button::-moz-focus-inner {
    border: 0;
}
