<div class="nx-calendar-focus-trap" cdkTrapFocus>
    <div class="nx-datepicker-header">
        <button
            (click)="datepicker.close()"
            class="nx-datepicker-close"
            type="button"
            #closeButton
            [attr.aria-label]="_intl.closeIconLabel || 'Close calendar'"
        >
            <nx-icon name="close" aria-hidden="true"></nx-icon>
        </button>
    </div>

    <nx-calendar
        [id]="datepicker.id"
        [ngClass]="datepicker.panelClass"
        [startAt]="datepicker.startAt"
        [startView]="datepicker.startView"
        [minDate]="datepicker.minDate"
        [maxDate]="datepicker.maxDate"
        [dateFilter]="datepicker.dateFilter"
        [selected]="datepicker.selected"
        (selectedChange)="datepicker.select($event)"
        (yearSelected)="datepicker.selectYear($event)"
        (monthSelected)="datepicker.selectMonth($event)"
        (_userSelection)="datepicker.close()"
    >
    </nx-calendar>
</div>
