<nx-formfield>
  <nx-formfield-label>Phone number</nx-formfield-label>
  <nx-phone-input [formControl]="phoneControl"></nx-phone-input>
  @if (phoneControl.errors?.phoneNumber) {
  <nx-error nxFormfieldError> Please provide a valid phone number </nx-error>
  }
</nx-formfield>

<nx-formfield>
  <nx-formfield-label>Mobile phone number</nx-formfield-label>
  <nx-phone-input [formControl]="mobilePhoneControl"></nx-phone-input>
  @if (mobilePhoneControl.errors?.phoneNumber) {
  <nx-error nxFormfieldError>
    Please provide a valid mobile phone number
  </nx-error>
  }
</nx-formfield>
