nx-link a {
    display: flex;
    align-items: center;
}

figure {
    display: flex;
    align-items: center;
}

.logo-text {
    color: var(--text-01, #ffffff);
    margin-left: 8px;
}

.action-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

:host {
    ::ng-deep .nx-menu__wrapper {
        position: relative !important;
        top: -64px !important;
    }
}
