@import '../shared-styles/index';

:host {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: auto;
  color: v(breadcrumb-color);
  @include type-style(breadcrumb);
  outline: none;
  background: none;
  border: 0;
}

.nx-breadcrumb-item__chevron {
  margin-left: v(breadcrumb-item-gap);
  font-size: v(breadcrumb-chevron-size);
  color: v(breadcrumb-chevron-color);

  :host-context([dir='rtl']) & {
    margin-left: initial;
    margin-right: v(breadcrumb-item-gap);
    transform: rotateZ(180deg);
  }
}

:host:not([href]):not(button) .nx-breadcrumb-item__text {
  cursor: auto;
}

.nx-breadcrumb-item__text {
  cursor: pointer;
  display: inline-flex;
}

:host.cdk-keyboard-focused .nx-breadcrumb-item__text {
  @include focus-style();
  border-radius: nx-border-radius(s);
}
