<label class="nx-slider__label" [id]="id + '-label'" [attr.for]="id + '-handle'" (click)="_focusHandleElement()">{{label}}</label>

<div
  class="nx-slider__wrapper"
  (click)="sliderClick($event)"
>

  <span class="nx-slider__background">
    <span class="nx-slider__filler" [style.width.%]="percentageValue"></span>

    <div class="nx-slider__handle"
        [id]="id + '-handle'"
        [attr.tabindex]="tabindex"
        [attr.aria-labelledby]="id + '-label'"
        role="slider"
        [attr.aria-valuemin]="formatLabelMin()"
        [attr.aria-valuemax]="formatLabelMax()"
        [attr.aria-valuetext]="formatValue(value)"
        [attr.aria-valuenow]="formatValue(value)"
        (mousedown)="dragStart($event)"
        (touchstart)="dragStart($event)"
        (selectstart)="selectStart()"
        #handle
      >

      <span *ngIf="thumbLabel" class="nx-slider__value">{{formatValue(value)}}
        <div class="nx-slider__arrow">
        </div>
      </span>
    </div>

  </span>
</div>

<div *ngIf="!hideLabels" class="nx-slider__label-container">
    <span class="nx-slider__value-label">{{formatLabelLeft()}}</span>
    <span class="nx-slider__value-label">{{formatLabelRight()}}</span>
</div>
