@use '../shared-styles/index' as *;

$arrow-size: 1.5 * nx-spacer(3xs);

:host {
  display: block;
}

.nx-slider__label {
  display: inline-block;
  @include type-style(slider-label);
  color: v(slider-label-color);
  margin-bottom: v(slider-label-margin-bottom);
}

.nx-slider__wrapper {
  display: flex;
  padding-top: calc(
    (v(slider-handle-size) - v(slider-background-height)) * 0.5 + v(slider-value-height) +
      v(slider-value-margin-bottom) + v(slider-wrapper-padding-top)
  );
}

.nx-slider__slide {
  position: relative;
  flex: auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nx-slider__background {
  position: relative;
  background-color: v(slider-background-color);
  display: block;
  height: v(slider-background-height);
  border-radius: v(slider-background-border-radius);
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
}

.nx-slider__tick-container {
  margin-top: v(slider-tick-margin-top);
  display: flex;
  width: 100%;
  border-left: 1px solid v(slider-tick-color);
  border-right: 1px solid v(slider-tick-color);
  height: v(slider-tick-container-height);
  align-items: center;
  overflow: hidden;
}

.nx-slider__tick {
  height: v(slider-tick-height);
  display: flex;
  border-right: 1px solid v(slider-tick-color);

  &.nx-slider__tick-primary {
    height: 100%;
  }
  &.nx-slider__tick-hidden {
    border: none;
  }
}

.nx-slider__filler {
  display: inline-block;
  height: v(slider-background-height);
  border-radius: v(slider-filler-border-radius);
  background-color: v(slider-filler-color);
  float: left;
  position: relative;

  :host-context([dir='rtl']) & {
    float: right;
  }
}

.nx-slider__handle {
  position: absolute;
  width: v(slider-handle-size);
  height: v(slider-handle-size);
  right: 0;
  transform: translateX(50%);
  border-radius: 50%;
  border: v(slider-handle-border);
  box-shadow: v(slider-handle-box-shadow);
  background: v(slider-handle-background-color);
  box-sizing: border-box;
  top: calc((v(slider-handle-size) - v(slider-background-height)) * 0.5 * -1);
  z-index: 2;
  cursor: grab;

  :host-context([dir='rtl']) & {
    left: 0;
    right: auto;
    transform: translateX(-50%);
  }

  &:focus {
    outline: none;
    border-color: v(slider-handle-focus-border-color);
  }

  &:active {
    box-shadow:
      v(slider-handle-box-shadow),
      inset 0 0 0 v(slider-handle-active-inset-border) v(slider-handle-background-color),
      inset 0 0 0 v(slider-handle-size) v(slider-handle-active-inset-color);
    cursor: grabbing;
  }

  &.cdk-keyboard-focused {
    border-color: v(slider-handle-focus-border-color);
    @include focus-style;
  }
}

.nx-slider__value {
  display: block;
  position: absolute;
  @include type-style(slider-value);
  color: v(slider-value-color);
  border: v(slider-value-border);
  border-radius: v(slider-value-border-radius);
  box-shadow: v(slider-value-box-shadow);
  cursor: grab;
  height: v(slider-value-height);
  min-width: v(slider-value-width);
  text-align: center;
  padding: v(slider-value-padding);
  top: calc((v(slider-handle-size) + v(slider-value-margin-bottom)) * -1);
  background: v(slider-value-background-color);
  left: calc(v(slider-handle-size) / 2);
  transform: translateX(-50%);

  &:active {
    cursor: grabbing;
  }
}

.nx-slider__arrow {
  display: v(slider-arrow-display);
  width: $arrow-size;
  height: $arrow-size;
  border-right: v(slider-value-border);
  border-bottom: v(slider-value-border);
  left: 50%;
  top: calc(
    (v(slider-handle-size) + v(slider-value-margin-bottom)) * -1 + v(slider-value-height) -
      #{$arrow-size}
  );
  transform: translate(-50%, 3px) rotate(45deg);
  position: absolute;
  box-shadow:
    -2px -2px 1px 1px v(slider-value-background-color),
    2px 2px 4px v(shadow-small-color);
  background: v(slider-value-background-color);
  border-color: v(slider-handle-border-color);
}

.nx-slider__label-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include type-style(slider-value-label);
  color: v(slider-value-label-color);
  margin-top: v(slider-label-margin-top);

  .nx-slider__has-ticks & {
    margin-top: 0px;
  }
}

.nx-slider__max-value-label {
  text-align: right;
}

.nx-slider__empty-bottom-slot {
  padding-bottom: v(slider-padding-bottom);
}

:host(.nx-slider--disabled) {
  cursor: not-allowed;

  .nx-slider__filler,
  .nx-slider__value,
  .nx-slider__value-label,
  .nx-slider__handle,
  .nx-slider__background {
    pointer-events: none;
    cursor: not-allowed;
  }

  .nx-slider__value {
    background-color: v(slider-value-disabled-background-color);
  }

  .nx-slider__handle {
    background-color: v(slider-handle-disabled-background-color);
    border-color: v(slider-handle-disabled-border);
  }

  .nx-slider__filler {
    background-color: v(slider-filler-disabled-color);
  }

  .nx-slider__value {
    color: v(slider-value-disabled-color);
  }

  .nx-slider__label-container {
    color: v(slider-value-label-disabled-color);
  }

  .nx-slider__arrow {
    background: v(slider-value-disabled-background-color);
    box-shadow:
      -2px -2px 1px 1px v(slider-value-disabled-background-color),
      nx-spacer(4xs) nx-spacer(4xs) nx-spacer(3xs) rgba(65, 65, 65, 0.5);
  }

  .nx-slider__background {
    background: v(slider-disabled-background-color);
  }

  .nx-slider__label {
    color: v(slider-label-disabled-color);
  }
}

// negative styles
:host(.nx-slider--negative) {
  .nx-slider__label,
  .nx-slider__value-label {
    color: v(negative);
  }

  .nx-slider__filler {
    background-color: v(negative);
  }

  .nx-slider__background {
    background-color: v(slider-negative-background-color);
  }
}

// negative disabled styles
:host(.nx-slider--negative.nx-slider--disabled) {
  .nx-slider__label,
  .nx-slider__value-label {
    color: v(negative-01);
  }

  .nx-slider__filler {
    background-color: v(negative-01);
  }
}

@media screen and (forced-colors: active) {
  .nx-slider__background {
    background-color: buttonFace;
    border: nx-border-size(xs) solid buttonText;
  }
  .nx-slider__filler {
    background-color: highlight;
  }

  .nx-slider__handle {
    background-color: buttonFace;
    border-color: buttonText;

    &:hover,
    &:focus {
      background-color: highlight;
    }

    &:active {
      background-color: buttonText;
    }
  }

  .nx-slider__value {
    border-color: buttonText;
    color: buttonText;
  }

  :host(.nx-slider--disabled) {
    .nx-slider__background {
      background-color: Canvas;
      border: nx-border-size(xs) solid GrayText;
    }

    .nx-slider__filler {
      background-color: GrayText;
    }

    .nx-slider__handle {
      background-color: GrayText;
    }

    .nx-slider__value {
      border-color: GrayText;
      color: GrayText;
    }

    .nx-slider__arrow {
      border-color: GrayText;
    }
  }

  :host.nx-slider--negative.nx-slider--disabled {
    .nx-slider__filler {
      background-color: GrayText;
    }
  }
}

.nx-slider__appendix {
  align-items: center;
  white-space: nowrap;
  margin-left: nx-spacer(s);
  display: flex;
  height: 0;

  // ensure auto sized icons get 24px and don't inherit 20px from the base font size of this component
  ::ng-deep nx-icon.nx-icon--auto {
    font-size: v(slider-icon-size);
  }

  ::ng-deep nx-icon {
    display: block;
  }
}
