<input
    #input
    [id]="id + '-input'"
    class="nx-circle-toggle__input"
    [attr.aria-labelledby]="id + '-label'"
    [type]="type"
    [attr.name]="name"
    [checked]="checked"
    [disabled]="disabled"
    [attr.aria-checked]="checked"
    [attr.aria-required]="required"
    (keydown.enter)="handleEnterKey($event)"
    (click)="toggle($event)"
/>
<label class="nx-circle-toggle__label" [for]="id + '-input'" [id]="id + '-label'">
    <nx-icon-toggle-button
        [label]="label"
        [hint]="hint"
        [checked]="checked"
        [icon]="iconName"
        [negative]="negative"
        [svg]="svgUrl"
        [disabled]="disabled"
        [inGroup]="inGroup"
        [touched]="_touched"
        [circleText]="circleText"
    >
    </nx-icon-toggle-button>
    <!-- The mobile toggle button is needed for the responsive mobile version of the component.
    The display swtich is handled in the css. -->
    <nx-mobile-toggle-button [label]="label" [hint]="hint" [checked]="checked" [negative]="negative" [disabled]="disabled" [circleText]="circleText">
    </nx-mobile-toggle-button>
    <ng-content select="nx-error" *ngIf="errorState"></ng-content>
</label>
