<ng-template #content>
  @if (_table.viewType === 'desktop' || _table.viewType === 'tablet') {
    <td
      class="nx-comparison-table__popular-cell nx-comparison-table__product-cell"
      role="cell"
      [class.is-error]="_table.isError"
      [class.is-hidden]="_table._hiddenIndexes().indexOf(forColumn - 1) !== -1"
      [attr.id]="id"
    >
      <span class="nx-comparison-table__popular-cell-inner">
        <ng-container *ngTemplateOutlet="ngContent"></ng-container>
      </span>
    </td>
  }
  @if (_table.viewType === 'mobile') {
    <td
      class="nx-comparison-table__mobile-popular-cell"
      [class.is-error]="_table.isError"
      [class.is-hidden]="_table._hiddenIndexes().indexOf(forColumn - 1) !== -1"
      [attr.id]="id"
    >
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </td>
  }
</ng-template>

<ng-template #ngContent>
  <ng-content></ng-content>
</ng-template>
