.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nx-popover__content-wrapper {
    margin: 0 8px;
}
@media (min-width: 704px) {
    .nx-popover__content-wrapper {
        width: 400px;
    }
}
