<!-- input and stuff-->
<div
  cdkOverlayOrigin
  #fallbackOrigin="cdkOverlayOrigin"
  class="nx-dropdown__container"
  #trigger
  [nxTooltip]="_tooltipText()"
  [nxTooltipSelectable]="true"
>
  <div class="nx-dropdown__rendered" [id]="renderedValueId">
    @if (empty && placeholder) {
    <span>{{ placeholder }}</span>
    } @if (!empty) {
    <ng-container *ngTemplateOutlet="closedDropdownLabel"></ng-container>
    }
  </div>
  <div class="nx-dropdown__icon">
    <nx-icon class="nx-dropdown__chevron" name="chevron-down" aria-hidden="true"></nx-icon>
  </div>
</div>

<ng-template #defaultClosedDropdownLabel>
  @if (triggerValue) {
  <span>{{ triggerValue }}</span>
  }
</ng-template>

<!-- overlay -->
<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="_positions"
  [cdkConnectedOverlayWidth]="_overlayWidth"
  [cdkConnectedOverlayMinWidth]="_overlayMinWidth"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayViewportMargin]="_overlayViewportMargin"
  [cdkConnectedOverlayPush]="false"
  (backdropClick)="closePanel()"
  (attach)="_onAttached()"
  (detach)="closePanel()"
>
  <div
    class="nx-dropdown__panel"
    [class.has-filter]="showFilter()"
    [class.nx-dropdown__panel--opening]="panelOpen && !isClosing"
    [class.nx-dropdown__panel--closing]="isClosing"
    [class.nx-dropdown__panel--in-outline-field]="_isInOutlineField"
    [class.centered-checkmark]='verticalAlignCheckmark() === "center"'
    (keydown)="_handleKeydown($event)"
    [dir]="dir"
    #panel
  >
    @if (label) {
    <div class="nx-dropdown__panel-header">{{ label }}</div>
    } @if (showFilter()) {
    <div class="nx-dropdown__filter-wrap">
      <div class="nx-dropdown__filter">
        <input
          class="nx-dropdown__filter-input"
          [attr.aria-controls]="modalId"
          [attr.aria-label]="label"
          [attr.aria-activedescendant]="activeDescendantId()"
          [class.is-filled]="!isFilterEmpty"
          #filterInput
          [type]="filterInputType"
          (input)="$event.preventDefault()"
          [(ngModel)]="filterValue"
          (ngModelChange)="_onFilter($event)"
          role="combobox"
          [placeholder]="filterPlaceholder()"
        />
        @if (!isFilterEmpty) {
        <span class="nx-dropdown__filter-icon" (click)="_clearFilter()">
          <nx-icon name="close"></nx-icon>
        </span>
        }
      </div>
    </div>
    }

    <div
      class="nx-dropdown__panel-body"
      tabindex="-1"
      role="listbox"
      [id]="modalId"
      [class.keyboard-focused]="openedByKeyboard"
      #panelBody
      [attr.aria-activedescendant]="activeDescendantId()"
      [attr.aria-multiselectable]="isMultiSelect()"
    >
      @if (!virtualScroll()) {
      <ng-content></ng-content>
      @for (option of options; track option; let idx = $index) {
      <nx-dropdown-item
        (onSelectionChange)="_onSelect($event.item, $event.isUserInput, option)"
        [value]="option.value"
      >
        @if (_itemTemplate()) {
        <ng-container
          *ngTemplateOutlet="_itemTemplate(); context: _createItemTemplateContext(option, idx)"
        />
        } @else {{{ _getLabel(option) }}}
      </nx-dropdown-item>
      } } @else {
      <nx-virtual-viewport
        #virtualViewport
        class="nx-dropdown__virtual-viewport"
        [itemHeight]="44"
        [overscan]="20"
      >
        <nx-dropdown-item
          *nxVirtualFor="let item of _filteredOptions(); let index = index; trackBy: 'value'"
          [id]="modalId + '-option-' + index"
          [value]="item.value"
          [attr.aria-setsize]="_filteredOptions().length"
          [attr.aria-posinset]="index + 1"
          [active]="_virtualActiveIndex() === index"
          [selected]="_isValueSelected(item.value)"
          (onSelectionChange)="_onVirtualSelect($event, item, index)"
          >@if (_itemTemplate()) {<ng-container
            *ngTemplateOutlet="_itemTemplate(); context: _createItemTemplateContext(item, index)"
          />
          } @else {{{ _getOptionLabel(item) }}}
        </nx-dropdown-item>
      </nx-virtual-viewport>
      }
    </div>
  </div>
</ng-template>
