@import '../shared-styles/index';

$icon-size: nx-spacer(m);

:host {
  position: relative;
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    color: buttonText;
  }
}

:host:focus {
  outline: none;
}

:host:hover {
  @include var(color, hover-primary);
}

:host-context([data-whatinput="keyboard"]):focus {

  ::ng-deep nx-icon {
    @include focus-style;
    border-radius: nx-border-radius(s);
  }
}

:host-context(.is-disabled) {
  pointer-events: none;
}
