@use '../../shared-styles/index' as *;

$max-modal-content-height: 65vh !default;

::ng-deep .cdk-overlay-pane {
  &.nx-modal--x-margin {
    margin: 0 v(modal-padding-small) !important;

    @include media-breakpoint-down('small') {
      margin: 0 nx-spacer(2xs) !important;
    }
  }
  &.is-fullscreen {
    padding-top: v(modal-padding-small);

    @include media-breakpoint-down('small') {
      padding-top: nx-spacer(2xs);
    }
  }
}

:host {
  background: v(modal-background-color);
  color: v(modal-text-color);
  padding: v(modal-padding);
  border-radius: v(modal-border-radius);
  box-shadow: v(modal-shadow);

  display: block;
  position: relative;
  box-sizing: border-box;

  overflow: auto;
  outline: 0;

  // The modal container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;

  // Since the modal won't stretch to fit the parent, if the height
  // isn't set, we have to inherit the min and max values explicitly.
  min-height: inherit;
  max-height: inherit;

  --transitionDuration: #{$modal-normal-duration};
  transition:
    opacity var(--transitionDuration) $modal-normal-enter-easing,
    transform var(--transitionDuration) $modal-normal-enter-easing;
  opacity: 0; // Initial state

  // Initial state for non-fullscreen modals (before animation)
  &:not(.nx-modal-container--fullscreen) {
    transform: scale(1.3);
  }

  // Initial state for fullscreen modals (before animation)
  &.nx-modal-container--fullscreen {
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.nx-modal-container--entering {
    opacity: 1;
    transform: scale(1);
    &.nx-modal-container--fullscreen {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.nx-modal-container--exiting {
    opacity: 0;
    transform: scale(1.3);
    &.nx-modal-container--fullscreen {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  .is-fullscreen & {
    border-radius: v(modal-full-screen-border-radius) v(modal-full-screen-border-radius) 0 0;
  }

  @include media-breakpoint-down('small') {
    padding: nx-spacer(2m) nx-spacer(2m) nx-spacer(2m) nx-spacer(2m);
  }

  @media screen and (forced-colors: active) {
    border: nx-border-size(m) solid CanvasText;
  }

  ::ng-deep .nx-modal__title {
    font-size: v(modal-title-font-size);
    font-weight: v(modal-title-font-weight);
    line-height: v(modal-title-line-height);
    letter-spacing: v(modal-title-letter-spacing);
    display: flex;
    align-items: v(modal-title-align);
    flex-direction: column;
    margin: 0;
    margin-bottom: v(modal-title-gap);
    @include media-breakpoint-down('small') {
      font-size: 1.625rem;
    }
    gap: v(modal-title-content-gap);
  }
  ::ng-deep .nx-modal__status {
    font-size: v(modal-status-icon-size);
  }
}

:host(.nx-modal-container--has-close-icon:not(:has(.nx-modal__title))) {
  padding-top: v(modal-with-close-icon-padding-top);
}

:host(.is-expert) {
  ::ng-deep .nx-modal__status {
    display: flex;
    font-size: v(modal-status-icon-size-expert);
  }
  ::ng-deep .nx-modal__title {
    font-weight: 400;
    text-align: left;
    flex-direction: v(modal-title-layout-expert);
    margin-bottom: v(modal-title-gap-expert);
  }

  ::ng-deep .nx-modal__actions {
    justify-content: flex-end;
  }
}

:host ::ng-deep .nx-modal__content {
  display: block;
  margin: 0 calc(-1 * v(modal-padding));
  padding: 0 v(modal-padding);
  max-height: $max-modal-content-height;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .is-fullscreen & {
    max-height: unset;
  }

  @include media-breakpoint-down('small') {
    margin: 0 calc(-1 * v(modal-padding-small));
    padding: 0 v(modal-padding-small);
  }
}

:host ::ng-deep .nx-modal__actions {
  // Pull the actions down to avoid their padding stacking with the modal's padding.
  margin-bottom: calc(-1 * v(modal-padding));

  // Make the top grey border also stretch over the modal padding
  margin-left: calc(-1 * v(modal-padding));
  margin-right: calc(-1 * v(modal-padding));

  border-top: nx-border-size(xs) solid v(modal-actions-border-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: v(modal-actions-padding);
  border-bottom-left-radius: v(modal-border-radius);
  border-bottom-right-radius: v(modal-border-radius);

  .is-fullscreen & {
    background: v(modal-background-color);
  }

  @include media-breakpoint-down('small') {
    margin-bottom: calc(-1 * v(modal-padding-small));
    margin-left: calc(-1 * v(modal-padding-small));
    margin-right: calc(-1 * v(modal-padding-small));
    padding: calc(v(modal-padding) / 2) v(modal-padding-small);
  }
}

.nx-modal__close {
  position: absolute;
  top: v(modal-close-icon-top);
  right: v(modal-close-icon-right);

  :host-context([dir='rtl']) & {
    right: auto;
    left: v(modal-close-icon-right);
  }
}
