@import '../shared-styles/index';

:host {
  margin: 0;
  @include type-style(copytext);
}

:host.nx-copy.nx-copy {
  // set default font-weight for all copytexts and override the type style
  // e.g. paragraph-04 definition has font-weight 600 so we need to override it
  // the font-weight can be overriden with css
  font-weight: 400;
}

:host(.nx-copy--negative) {
  color: v(negative);
}

:host(.nx-copy--small) {
  @include type-style(copytext-small);
}

:host(.nx-copy--medium) {
  @include type-style(copytext-medium);
}

:host(.nx-copy--large) {
  @include type-style(copytext-large);
}
