.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 8px;
  padding: 16px;
}

.example {
  padding: 16px;

  &.inverse {
    color: var(--negative);
    background-color: var(--documentation-inverse-container-background);
    border-radius: 3px;
  }
}
