.list-nesting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--semantic-gap-all-linear-800, 32px);
}

@media (max-width: 704px) {
  .list-nesting-grid {
    grid-template-columns: 1fr;
  }
}

.list-nesting-grid__item {
  margin-bottom: 16px;
}

.list-nesting-grid__item h3 {
  margin-bottom: 16px;
}

/* Render nested numbering as "1.1", "1.2" instead of resetting to "1" */
:is(.my-custom-normal-list, .my-custom-circle-mixed-list)
  > li
  > ol.nx-list
  > li:not(.nx-list__icon-wrapper)::before {
  content: counters(list, '.') !important;
}
