.list-nesting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--semantic-gap-all-linear-800, 32px);
}

@media (max-width: 704px) {
  .list-nesting-grid {
    grid-template-columns: 1fr;
  }
}

.list-nesting-grid__item {
  margin-bottom: 16px;
}

.list-nesting-grid__item h3 {
  margin-bottom: 16px;
}
