<nx-accordion>
  <nx-expansion-panel>
    <nx-expansion-panel-header>
      <nx-expansion-panel-title>
        <div class="expansion-title-with-icon">
          <nx-icon *ngIf="infoHasError" class="nx-error__icon" [name]="'exclamation-triangle'"></nx-icon>
          <span>General Information</span>
        </div>
      </nx-expansion-panel-title>
    </nx-expansion-panel-header>
    <form [formGroup]="formGroupInfo">
      <div nxLayout="grid">
        <div nxRow>
          <div nxCol="12,12,6,6">
            <nx-formfield nxLabel="Surname">
              <input required nxInput formControlName="surname" />
              <nx-error nxFormfieldError>
                <strong> Please note: </strong> you have to fill out this field to continue.
              </nx-error>
            </nx-formfield>
          </div>
        </div>
      </div>
    </form>
  </nx-expansion-panel>
  <nx-expansion-panel>
    <nx-expansion-panel-header>
      <nx-expansion-panel-title>
        <div class="expansion-title-with-icon">
          <nx-icon *ngIf="paymentHasError" class="nx-error__icon" [name]="'exclamation-triangle'"></nx-icon>
          <span>Payment details</span>
        </div>
      </nx-expansion-panel-title>
    </nx-expansion-panel-header>
    <form [formGroup]="formGroupPayment">
      <div nxLayout="grid">
        <div nxRow>
          <div nxCol="12,12,6,6">
            <nx-formfield nxLabel="Label">
              <input required nxInput formControlName="input" />
              <nx-error nxFormfieldError>
                <strong> Please note: </strong> you have to fill out this field to continue.
              </nx-error>
            </nx-formfield>
          </div>
        </div>
      </div>
    </form>
  </nx-expansion-panel>
</nx-accordion>
<nx-message *ngIf="infoHasError || paymentHasError" nxContext="error">
  <strong> Error: </strong> Please check the red marked areas.
</nx-message>
