@use '../shared-styles/index' as *;

:host {
  display: inline-flex;
  vertical-align: middle;

  .nx-signal-button__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: v(signal-button-width);
    height: v(signal-button-height);
    font-size: v(signal-button-font-size);
    border-radius: v(signal-button-border-radius);
    cursor: v(signal-button-cursor);
    padding: 0;
    outline: 0;
    border: none;
    background: none;

    &.cdk-keyboard-focused,
    &:focus-visible {
      box-shadow: v(signal-button-focus-box-shadow);
    }
    &[disabled] {
      opacity: v(signal-button-disabled-opacity);
      cursor: default;
    }
  }
}

:host(.size-s) .nx-signal-button__button {
  width: v(signal-button-s-width);
  height: v(signal-button-s-height);
  font-size: v(signal-button-s-font-size);
}

:host(.context-error) {
  &:hover:not(:active):not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-error-hover-icon-color);
    }
  }
  &:active:not([disabled]),
  .is-active:not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-error-active-icon-color);
    }
  }
  .nx-signal-button__button[disabled] {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-error-disabled-icon-color);
    }
  }
}

:host(.context-success) {
  &:hover:not(:active):not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-success-hover-icon-color);
    }
  }
  &:active:not([disabled]),
  .is-active:not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-success-active-icon-color);
    }
  }
  .nx-signal-button__button[disabled] {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-success-disabled-icon-color);
    }
  }
}

:host(.context-warning) {
  &:hover:not(:active):not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-warning-hover-icon-color);
    }
  }

  &:active:not([disabled]),
  .is-active:not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-warning-active-icon-color);
    }
  }

  .nx-signal-button__button[disabled] {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-warning-disabled-icon-color);
    }
  }
}

:host(.context-info) {
  &:hover:not(:active):not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-info-hover-icon-color);
    }
  }

  &:active:not([disabled]),
  .is-active:not([disabled]) {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-info-active-icon-color);
    }
  }

  .nx-signal-button__button[disabled] {
    ::ng-deep .nx-signal-button__icon nx-icon {
      color: v(signal-button-info-disabled-icon-color);
    }
  }
}
