.nx-table--reorder {
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--ui-01);
    box-shadow: 0 0 24px 0 rgba(65, 65, 65, 0.35);
    border: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .col:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.col {
    cursor: default;
}
.scroll-container {
    overflow-x: auto;
}
