@use '../../shared-styles/index' as *;

:host {
  width: 100%;
  max-width: 100%;

  .start-date-input {
    flex-shrink: 0; // Prevent shrinking
    min-width: 80px;
  }

  .date-range-container {
    display: flex;
    gap: nx-spacer(2xs);
    width: 100%;
    text-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: 0 0;
    color: inherit;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    overflow-x: hidden;
  }

  input {
    text-overflow: ellipsis;
  }

  .separator-icon-span {
    display: flex;
    align-items: center;
  }
}

:host-context(.nx-formfield.has-outline) {
  input {
    padding: 0;
  }
  .date-range-container {
    padding-left: var(--formfield-outline-spacing);
    padding-right: var(--formfield-outline-spacing);
  }
}
