<div class="date-range-container">
  <input
    class="start-date-input c-input"
    [class.is-disabled]="disabled"
    [class.has-error]="errorState"
    nxDatefield
    #startDateFieldDirective="nxDatefield"
    [attr.aria-label]="startDateAriaLabel()"
    [attr.aria-describedby]="ariaDescribedBy()"
    [attr.aria-required]="required"
    [attr.aria-invalid]="errorState"
    [placeholder]="placeholder"
    [(ngModel)]="startDate"
    (ngModelChange)="handleChange()"
    [style.width]="startDateInputWidth()"
    [min]="minDate()"
    [disabled]="disabled"
    [hasPopup]="!!datepicker()"
    (keydown)="_onKeydown($event)"
    [readonly]="readonly"
    [parseFormat]="parseFormat()"
    [displayFormat]="displayFormat()"
    [strict]="strict()"
  />
  -
  <input
    class="c-input"
    [class.is-disabled]="disabled"
    [class.has-error]="errorState"
    nxDatefield
    #endDateFieldDirective="nxDatefield"
    [attr.aria-label]="endDateAriaLabel()"
    [attr.aria-describedby]="ariaDescribedBy()"
    [attr.aria-required]="required"
    [attr.aria-invalid]="errorState"
    [placeholder]="placeholder"
    [(ngModel)]="endDate"
    (ngModelChange)="handleChange()"
    [max]="maxDate()"
    [disabled]="disabled"
    [hasPopup]="!!datepicker()"
    (keydown)="_onKeydown($event)"
    [readonly]="readonly"
    [parseFormat]="parseFormat()"
    [displayFormat]="displayFormat()"
    [strict]="strict()"
  />
</div>
