<input
    class="nx-code-input__field"
    *ngFor="let key of _keyCode; index as i; trackBy: _trackByKeyCode"
    [ngModel]="_keyCode[i]"
    [ngClass]="_inputGap(i)"
    [attr.aria-label]="getAriaLabel(i)"
    [attr.type]="type"
    (input)="_handleInput($event)"
    (blur)="_onBlur()"
    (focus)="_setFocusState()"
    (mousedown)="_selectText($event)"
    (keydown)="_keydownAction($event)"
    [attr.tabindex]="tabindex"
    [disabled]="disabled ? true : false"
    autocomplete="one-time-code"
/>
