<input
    class="nx-code-input__field"
    maxlength="1"
    *ngFor="let key of _keyCode; index as i; trackBy: _trackByKeyCode"
    [(ngModel)]="_keyCode[i]"
    [ngClass]="_inputGap(i)"
    [attr.aria-label]="getAriaLabel(i)"
    [attr.type]="type"
    (input)="_selectNextInput($event)"
    (paste)="_pasteClipboard($event)"
    (blur)="_onBlur()"
    (focus)="_setFocusState()"
    (click)="_selectText($event)"
    (keydown)="_keydownAction($event)"
    [attr.tabindex]="tabindex"
    [attr.disabled]="disabled ? '' : null"
/>
