@import '../shared-styles/index';

:host {
    ::ng-deep button {
        margin-bottom: nx-spacer(s);
    }

    @include media-breakpoint-up(medium) {
        height: 104px;
        border: nx-border-size(xs) dashed v(file-uploader-drop-zone-border-color);
        align-items: center;
        justify-content: center;
        display: flex;
        color: v(file-uploader-drop-zone-text-color);

        &.is-active {
            border-style: solid;
        }

        &.is-disabled {
            cursor: no-drop;
        }

        ::ng-deep button {
            margin-bottom: 0;
        }
    }
}
