@import '../shared-styles/index';

:host {
  display: block;
}

.nx-file-uploader--file-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom-width: nx-border-size(xs);
  border-bottom-style: solid;
  padding: nx-spacer(2xs) nx-spacer(xs);
  @include var(border-bottom-color, file-uploader-file-row-border-bottom-color);
  @include var(color, file-uploader-file-row-text-color);

  &:hover {
    @include var(background-color, file-uploader-file-row-hover-background-color);
  }

  &:focus {
    outline: none;
  }

  & > div {
    flex: 1;
  }

  .nx-file-uploader--file-name {
    @include type-style(file-uploader-file-name);

    @include media-breakpoint-down("small") {
      flex: 100%;
    }
  }

  .nx-file-uploader--file-size {
    white-space: nowrap;
    flex: none;
  }

  .nx-file-uploader--file-status {
    display: flex;
    padding: 0 nx-spacer(s);

    nx-icon {
      @include var(color, file-uploader-file-row-icon-color);
    }
  }

  .nx-file-uploader--file-row-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 120px;
    flex: none;

    button {
      margin-bottom: 0;
    }

    :host-context([dir="rtl"]) & {
      margin-left: initial;
      margin-right: auto;
    }
  }

  &.nx-file-uploader--file-state-uploading{
    .file-name {
      @include var(color, file-uploader-file-row-uploading-file-name-color)
    }
  }
}

::ng-deep input[type=file] {
  display: none;
}

::ng-deep [nxFileUploadButton] {
  display: block;
}

::ng-deep [nxfileuploadhint] {
  @include type-style(file-uploader-hint);

  display: block;
}

.nx-file-uploader--file-row.cdk-keyboard-focused {
  @include focus-style;
}

