@use '../shared-styles/index' as *;

:host {
  ::ng-deep button {
    margin-bottom: 16px; // bottom margin for buttons below medium breakpoint
  }

  @include media-breakpoint-up(medium) {
    padding: v(file-uploader-drop-zone-padding);
    border: v(file-uploader-drop-zone-border-width) v(file-uploader-drop-zone-border-style)
      v(file-uploader-drop-zone-border-color);
    border-radius: v(file-uploader-drop-zone-border-radius);
    align-items: center;
    justify-content: center;
    display: flex;
    color: v(file-uploader-drop-zone-text-color);

    &.is-active {
      border-style: v(file-uploader-drop-zone-active-border-style);
    }

    &.is-disabled {
      cursor: no-drop;
    }

    ::ng-deep button {
      margin-bottom: 0;
    }
  }
}
