@import '../shared-styles/index';

:host {
    background: v(card-background-color);
    border-color: v(card-border-color);
    border-width: v(card-border-width);
    border-style: solid;
    border-radius: v(card-border-radius);
    box-shadow: none;
    display: inline-block;
    padding: nx-spacer(m) - nx-border-size(xs);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &:hover,
    &:focus {
        outline: none;
    }
}

:host.cdk-keyboard-focused {
    @include focus-style;
}
