@import "../shared-styles/index";

:host {
  @include var(background, card-background-color);
  @include var(border-color, card-border-color);
  @include var(border-width, card-border-width);
  border-style: solid;
  @include var(border-radius, card-border-radius);
  box-shadow: none;
  display: inline-block;
  margin-bottom: nx-spacer(m);
  padding: nx-spacer(m) - nx-border-size(xs);
  transition: background-color .2s ease, box-shadow .2s ease;

  &:hover, &:focus {
    outline: none;
  }

  &.is-selectable {
    cursor: pointer;

    &:hover {
      @include var(background, card-background-hover-color);
    }
  }

  &.is-selected {
    box-shadow: nx-box-shadow(l);
    @include var(background, card-background-selected-color);
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.4;

    &:hover {
      @include var(background, card-background-color);
    }
  }
}

:host-context([data-whatinput="keyboard"]):focus {
  @include focus-style;
}

@media screen and (-ms-high-contrast: active) {
  :host.is-selectable {
    border-color: buttonText;
  }

  :host.is-selected {
    border-width: nx-border-size(l);
    padding: nx-spacer(m) - nx-border-size(l);
    border-color: highlight;
  }

  :host.is-disabled {
    opacity: 1;
    border-color: GrayText;
    color: GrayText;
  }
}