@import '../shared-styles/index';

:host {
    display: block;

    ::ng-deep nx-error {
        margin-top: nx-spacer(2xs);

        &.nx-error--message {
            margin-top: nx-spacer(xs);
        }
    }
}

::ng-deep nx-card-footer,
::ng-deep nx-card-content,
::ng-deep nx-card-header {
    display: block;
}

.checkmark {
    float: right;
    position: relative;
    color: v(selectable-card-icon-color);

    :host-context([dir='rtl']) & {
        float: left;
    }

    &::before,
    ::ng-deep svg {
        display: none;
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 22px;
        height: 22px;
        border: 1px solid v(selectable-card-icon-placeholder-border-color);
        border-radius: 50%;
    }
}

.checkbox {
    float: left;
    background-color: v(checkbox-background-color);
    border-style: solid;
    border-width: v(checkbox-border-width);
    border-color: v(checkbox-border-color);
    border-radius: v(checkbox-border-radius);
    color: v(checkbox-icon-color);
    font-size: v(checkbox-icon-size);
    height: v(checkbox-control-size);
    width: v(checkbox-control-size);
    min-width: v(checkbox-control-size);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    :host-context([dir='rtl']) & {
        float: right;
    }
}

:host(:not(.is-expert)) {
    .content {
        overflow: hidden;
        padding-left: nx-spacer(s);

        :host-context([dir='rtl']) & {
            padding-left: 0;
            padding-right: nx-spacer(s);
        }

        @include media-breakpoint-down(small) {
            padding-left: nx-spacer(2xs);

            :host-context([dir='rtl']) & {
                padding-right: nx-spacer(2xs);
            }
        }
    }
}

:host(.is-expert) {
    label:hover {
        background: v(selectable-card-expert-background-hover-color);

        .checkmark {
            color: v(selectable-card-unchecked-icon-hover-color);

            &::before,
            ::ng-deep svg {
                display: block;
            }
        }
    }

    input:checked + label {
        background: v(selectable-card-expert-background-selected-color);

        &:hover {
            background: v(selectable-card-expert-background-selected-hover-color);
        }
    }
}

input {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;

    &:checked + label {
        background: v(selectable-card-background-selected-color);
        border-color: v(selectable-card-border-selected-color);

        .checkmark {
            &::before,
            ::ng-deep svg {
                display: block;
            }
        }

        &:hover {
            background: v(selectable-card-background-selected-hover-color);

            .checkmark {
                color: v(selectable-card-icon-color);
            }
        }

        .checkbox {
            background-color: v(checkbox-selected-background-color);
            border-color: v(checkbox-selected-border-color);
        }
    }
}

label {
    border: var(--selectable-card-border-width) solid v(selectable-card-border-color);
    display: block;
    position: relative;
    padding: nx-spacer(s);
    cursor: pointer;
    width: 100%;
    min-height: nx-spacer(l);
    border-radius: v(selectable-card-border-radius);
    background: v(selectable-card-background-color);

    &:hover {
        background: v(selectable-card-background-hover-color);
        border-color: v(selectable-card-border-hover-color);
    }
}

// reset hover styles for devices that don't support hover
@media (hover: none) {
    label:hover {
        background: v(selectable-card-background-color);
        border-color: v(selectable-card-border-color);
    }

    input:checked + label:hover {
        background: v(selectable-card-background-selected-color);
    }
}

:host(.is-disabled) {
    label {
        border-color: v(selectable-card-border-disabled-color);
        cursor: not-allowed;
    }

    .checkmark {
        opacity: 40%;
    }

    label:hover {
        background: v(selectable-card-background-disabled-color);

        .checkmark {
            &::before,
            ::ng-deep svg {
                display: none;
            }
        }
    }

    input:checked + label {
        background: v(selectable-card-background-disabled-selected-color);
        border-color: v(selectable-card-border-disabled-selected-color);

        .checkbox {
            background-color: v(checkbox-disabled-selected-background-color);
            border-color: v(checkbox-disabled-border-color);
            color: v(checkbox-disabled-icon-color);
        }

        .checkmark {
            &::before,
            ::ng-deep svg {
                display: block;
            }
        }
    }

    &.is-expert {
        input:checked + label {
            background: v(selectable-card-expert-background-disabled-selected-color);
        }
    }

    .checkbox {
        background-color: v(checkbox-disabled-background-color);
        border-color: v(checkbox-disabled-border-color);
        color: v(checkbox-disabled-icon-color);
    }
}

:host(.has-error) {
    label,
    label:hover,
    input:checked + label,
    input:checked + label:hover {
        border-color: v(selectable-card-border-error-color);
    }
}

input.cdk-keyboard-focused + label {
    @include focus-style;
}

@media screen and (forced-colors: active) {
    :host,
    :host(.has-error) {
        label,
        label:hover {
            border-color: buttonText;
        }

        input:checked + label,
        input:checked + label:hover {
            border-width: nx-border-size(l);
            padding: nx-spacer(s) - nx-border-size(l) + nx-border-size(xs);
            border-color: highlight;

            .checkmark {
                color: CanvasText;
            }
        }
    }

    :host(.is-disabled) {
        label,
        input:checked + label {
            border-color: GrayText;
            color: GrayText;

            .checkmark {
                color: GrayText;
            }
        }
    }
}
