.stage-bg {
    background-image: url('../../../../../opensource-documentation/src/assets/images/small-stage-bg-start.png'),
        url('../../../../../opensource-documentation/src/assets/images/small-stage-bg-end.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
        left 50px top 20px,
        right 50px top 20px;
    background-size: 193px, 150px;
}

@media screen and (max-width: 703px) {
    .stage-bg {
        background-size: 20%, 18%;
        background-position:
            left 50px top 82px,
            right 81px top 64px;
    }
}

@media screen and (max-width: 420px) {
    .stage-bg {
        background-position:
            left 32px top 63px,
            right 34px top 80px;
    }
}
