@font-face {
    font-family: 'Public Sans Latin';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-300.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-300italic.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-300italic.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-regular.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-italic.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-600.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-600italic.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-600italic.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-700.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Public Sans Latin';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        url('../fonts/PublicSans/public-sans-latin-700italic.woff2') format('woff2'),
        url('../fonts/PublicSans/public-sans-latin-700italic.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-300.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-300italic.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-300italic.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-italic.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-600.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-600italic.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-600italic.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-700.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        url('../fonts/Nunito/nunito-v12-latin-700italic.woff2') format('woff2'),
        url('../fonts/Nunito/nunito-v12-latin-700italic.woff') format('woff');
}
