:host {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;

    &:focus {
        outline: none;
    }

    @media screen and (forced-colors: active) {
        border: 1px solid CanvasText;
        background: Canvas;
    }
}
