.container {
  display: flex;
}

.color-1 {
  background-color: var(--documentation-avatar-color-1);
}

.color-2 {
  background-color: var(--documentation-avatar-color-2);
}

.color-3 {
  background-color: var(--documentation-avatar-color-3);
}

.color-4 {
  background-color: var(--documentation-avatar-color-4);
  color: var(--documentation-avatar-text-color);
}

.color-5 {
  background-color: var(--documentation-avatar-color-5);
  color: var(--documentation-avatar-text-color);
}

.color-6 {
  background-color: var(--documentation-avatar-color-6);
  color: var(--documentation-avatar-text-color);
}