// Warning: Do not use these variables. And use $font-weight list instance
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Use this list for the font-weight
$font-weight: (
    light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
);

// line-height
$line-height-depending-base: 1.6;
$line-height-depending-small: 1.4;
$line-height-depending-xsmall: 1.3;
$line-height-depending-xxsmall: 1.25;
$line-height-depending-medium: 1.8;
$line-height-depending-large: 2;

// copy
$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-large: 1rem;
$font-size-xlarge: 1.125rem;
$font-size-xxlarge: 1.25rem;
$font-size-xxxlarge: 1.5rem;
$font-size-primary: $font-size-large;

$line-height-base: 1;
$line-height-xsmall: 1.5rem;
$line-height-small: 1.25rem;
$line-height-medium: 1.375rem;
$line-height-large: 1.5rem;
$line-height-xlarge: 1.625rem;
$line-height-xxlarge: 1.75rem;

$line-height-mobile-small: 1.125rem;
$line-height-mobile-medium: 1.25rem;
$line-height-mobile-large: 1.375rem;
$line-height-mobile-xlarge: 1.5rem;
$line-height-primary: $line-height-large;

// headlines
$font-size-h1: 3.375rem;
$font-size-h2: 2.5rem;
$font-size-h3: 1.875rem;
$font-size-h4: 1.625rem;
$font-size-h5: $font-size-xxxlarge;
$font-size-h6: $font-size-xxlarge;

$font-size-h1-mobile: 2.5rem;
$font-size-h1-mobile-bold-cap: 2.1875rem;
$font-size-h2-mobile: 2.1875rem;
$font-size-h3-mobile: 1.625rem;
$font-size-h4-mobile: $font-size-xxxlarge;
$font-size-h5-mobile: $font-size-xxlarge;
$font-size-h6-mobile: $font-size-xlarge;

$line-height-h1: 3.875rem;
$line-height-h1-bold-cap: 3.6875rem;
$line-height-h2: 3rem;
$line-height-h3: 2.375rem;
$line-height-h4: 2.125rem;
$line-height-h5: 2rem;
$line-height-h6: 1.75rem;

$line-height-h1-mobile: 2.875rem;
$line-height-h1-bold-cap-mobile: 2.5rem;
$line-height-h2-mobile: 2.5625rem;
$line-height-h3-mobile: 2rem;
$line-height-h4-mobile: 1.875rem;
$line-height-h5-mobile: $line-height-xlarge;
$line-height-h6-mobile: $line-height-large;

// letter spacing
$letter-spacing-small: 0.06rem;
$letter-spacing-medium: 0.1rem;
$letter-spacing-medium-alt: 0.11rem;
$letter-spacing-large: 0.16rem;

// icon fontsizes
$font-size-icon-large: 3.2rem;

//slider button font sizes
$font-size-button-large: 5rem;
$font-size-button-medium: 3rem;
$font-size-button-small: 2rem;

$line-height-icon-large: 5.4rem;

//icon size xl
$icon-size-2x: 2em;
$icon-size-3x: 3em;
$icon-size-4x: 4em;
$icon-size-5x: 5em;
$icon-size-6x: 6em;
