<div nxLayout="grid">
    <div nxRow>
        <div nxCol="6">
            <nx-formfield
                appearance="outline"
                label="Prefilled field"
                floatLabel="always"
            >
                <input nxInput value="prefilled" />
            </nx-formfield>
        </div>
        <div nxCol="6">
            <nx-formfield
                label="Readonly field"
                appearance="outline"
                floatLabel="always"
            >
                <span nxFormfieldPrefix>$</span>
                <input
                    nxInput
                    readonly
                    value="500"
                    nxAriaLabel="Enter dollar amount"
                />
                <nx-icon nxFormfieldAppendix name="info-circle-o"> </nx-icon>
            </nx-formfield>
        </div>
    </div>

    <div nxRow>
        <div nxCol="6">
            <nx-formfield
                label="Dropdown Label"
                appearance="outline"
                floatLabel="always"
            >
                <nx-dropdown>
                    <nx-dropdown-item value="BMW"></nx-dropdown-item>
                    <nx-dropdown-item value="Audi"></nx-dropdown-item>
                    <nx-dropdown-item value="Volvo"></nx-dropdown-item>
                    <nx-dropdown-item value="Mini"></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
        </div>
        <div nxCol="6">
            <nx-formfield
                label="Label"
                appearance="outline"
                floatLabel="always"
            >
                <input nxInput disabled value="Disabled input" />
            </nx-formfield>
        </div>
    </div>

    <div nxRow>
        <div nxCol="6">
            <nx-formfield
                label="Birthday"
                appearance="outline"
                floatLabel="always"
            >
                <input
                    nxDatefield
                    nxInput
                    [datepicker]="myDatepicker"
                    [(ngModel)]="currentDate"
                    nxAriaLabel="Enter date"
                />
                <nx-datepicker-toggle
                    [for]="myDatepicker"
                    nxFormfieldSuffix
                ></nx-datepicker-toggle>
                <nx-datepicker #myDatepicker></nx-datepicker>
                <span nxFormfieldHint> mm/dd/yyyy </span>
            </nx-formfield>
        </div>

        <div nxCol="6">
            <nx-formfield
                appearance="outline"
                floatLabel="always"
                label="Textarea Label"
                optionalLabel="Optional"
            >
                <textarea nxInput type="text"></textarea>
            </nx-formfield>
        </div>
    </div>

    <div nxRow>
        <div nxCol="6">
            <nx-formfield
                label="Character count"
                appearance="outline"
                floatLabel="always"
            >
                <input nxInput #inputToCount maxlength="15" />
                <span nxFormfieldHint>
                    <span *ngIf="inputToCount.value?.length === 0">
                        max. 15 characters
                    </span>
                    <span *ngIf="inputToCount.value.length > 0">
                        {{15 - (inputToCount.value.length || 0)}} characters
                        remaining
                    </span>
                </span>
            </nx-formfield>
        </div>
    </div>
</div>
