<table nxTable>
    <thead>
        <tr nxTableRow>
            <th nxHeaderCell>Size</th>
            <th nxHeaderCell>px</th>
            <th nxHeaderCell>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr
            nxTableRow
            *ngFor="let margin of marginSizes | keyvalue: returnZero"
        >
            <td nxTableCell>{{margin.key}}</td>
            <td nxTableCell>{{margin.value}}</td>
            <td nxTableCell>
                <div
                    class="margin-box"
                    [style.width]="margin.value + 'px'"
                    [style.height]="margin.value + 'px'"
                ></div>
            </td>
        </tr>
    </tbody>
</table>
