.margin-box {
    background: var(--documentation-margin-example-background-color, #1c7997);
}

@media screen and (forced-colors: active) {
    .margin-box {
        background-color: CanvasText;
    }
}
