@import './mixins.scss';

:host(.nx-grid) {
  @include make-container($gutters: $grid-gutter-widths);
}

// Use for "edge to edge container" components
:host(.nx-grid--no-gutters) ::ng-deep {
  padding-left: 0;
  padding-right: 0;

  .nx-grid__row {
    margin-left: 0;
    margin-right: 0;
  }

  // only from all immediate children columns (to prevent runaway style inheritance).
  .nx-grid__row > [class*="nx-grid__column"] {
    padding-left: 0;
    padding-right: 0;
  }
}

:host(.nx-grid--max-width) {
  max-width: 100%;
  @include var(width, grid-max-width);
}
