@import 'aposin';

$expert-theme: (
    grid-max-width: 1472px,
    accordion-light-font-size: paragraph-03-font-size,
    accordion-light-line-height: paragraph-03-line-height,
    accordion-light-font-weight: paragraph-03-font-weight,
    accordion-light-letter-spacing: paragraph-03-letter-spacing,
    accordion-regular-font-size: paragraph-03-font-size,
    accordion-regular-line-height: paragraph-03-line-height,
    accordion-regular-font-weight: paragraph-03-font-weight,
    accordion-regular-letter-spacing: paragraph-03-letter-spacing,
    accordion-regular-chevron-color: text-01,
    accordion-regular-hover-chevron-color: interactive-text,
    accordion-light-color: text-01,
    accordion-light-header-text-color: text-01,
    accordion-light-header-hover-text-color: interactive-text,
    accordion-light-chevron-color: text-01,
    accordion-light-hover-chevron-color: interactive-text,
    accordion-light-header-padding: 16px,
    accordion-light-mobile-header-padding: 16px 0,
    accordion-light-body-padding: 0 16px 16px,
    accordion-light-mobile-body-padding: 0 0 16px,
    accordion-regular-header-background-color: ui-02,
    accordion-regular-header-hover-text-color: interactive-text,
    accordion-regular-header-top-margin: 0,
    accordion-regular-border-color: ui-04,
    accordion-regular-mobile-border-color: ui-04,
    accordion-regular-mobile-separator-color: transparent,
    accordion-regular-header-padding: 16px,
    accordion-regular-mobile-header-padding: 16px,
    accordion-regular-body-padding: 16px,
    accordion-regular-mobile-body-padding: 16px,
    comparison-table-placeholder-cell-border-color: comparison-table-border-color,
    comparison-table-toggle-section-header-padding: 16px,
    comparison-table-toggle-section-header-padding-rtl: 16px,
    comparison-table-toggle-section-header-font-size: paragraph-03-font-size,
    comparison-table-toggle-section-header-line-height: paragraph-03-line-height,
    comparison-table-toggle-section-header-font-weight: paragraph-03-font-weight,
    comparison-table-toggle-section-header-letter-spacing: paragraph-03-letter-spacing,
    table-sticky-column-header-background-color: ui-background,
    table-sticky-column-background-color: ui-background,
    footer-padding-top: 24px,
    footer-padding-bottom: 24px,
    footer-mobile-padding-top: 40px,
    footer-mobile-padding-bottom: 40px,
    icon-button-small-icon-size: 24px,
    message-banner-border-radius: 0,
    small-stage-image-container-padding-top: 42px,
    small-stage-content-padding: 40px 0 32px,
    small-stage-content-padding-narrow-screen: 40px 0 24px,
    small-stage-image-container-padding-to-content: 40px,
);

body,
:host {
    background-color: v(ui-background);
    color: v(text-01);
}

$themes: nx-register-theme($expert-theme, expert, aposin);
