.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 703px) {
    .two-button-container {
        width: 100%;
    }

    .two-button-container button:first-child {
        margin-bottom: 16px;
    }
}
