.color-box {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
}

.color-1 {
  background: var(--documentation-comparison-table-theming-color-1, #000000);
}

.color-2 {
  background: var(--documentation-comparison-table-theming-color-2, #000000);
}

.color-3 {
  background: var(--documentation-comparison-table-theming-color-3, #000000);
}

.color-1.isDisabled {
  background: var(--documentation-comparison-table-theming-color-1-disabled, #000000);
}

.color-2.isDisabled {
  background: var(--documentation-comparison-table-theming-color-2-disabled, #000000);
}

.color-3.isDisabled {
  background: var(--documentation-comparison-table-theming-color-3-disabled, #000000);
}

pre {
  font-size: 14px;
  line-height: 20px;
}