@import "../shared-styles/index";

:host {
  @include var(color, plain-button-color);
  display: inline-block;
  cursor: pointer;
  user-select: none;
  width: auto;
  hyphens: none;
  vertical-align: middle;
  background: transparent;
  border: none;
  padding: 0;
  @include type-style(plain-button);

  &:focus {
    outline: none;
  }

  &:hover {
    @include var(color, plain-button-hover-color);
  }

  // reset hover styles for devices that don't support hover
  @media (hover: none) {
    &:hover {
      @include var(color, plain-button-color);
    }
  }

  &:active, &.nx-button--active {
    @include var(color, plain-button-active-color);
  }

  &:disabled {
    @include var(color, plain-button-disabled-color);
  }

  .nx-plain-button__content-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
  }
}

:host.nx-plain-button--danger {
  @include var(color, plain-button-danger-color);

  &:hover {
    @include var(color, plain-button-danger-hover-color);
  }

  // reset hover styles for devices that don't support hover
  @media (hover: none) {
    &:hover {
      @include var(color, plain-button-danger-color);
    }
  }

  &:active, &.nx-button--active {
    @include var(color, plain-button-danger-active-color);
  }

  &:disabled {
    @include var(color, plain-button-danger-disabled-color);
  }
}

:host([nxplainbutton]) {
  ::ng-deep nx-icon {
    @include var(font-size, plain-button-icon-size);
  }
}

// focus styling
:host-context([data-whatinput="keyboard"]):focus {
  border-radius: nx-border-radius(s);
  outline: 0;
  @include focus-style;
}