@import '../shared-styles/index';

:host.nx-tree {
    display: block;
}

.nx-tree__node {
    display: block;
    overflow: hidden;
    &.cdk-keyboard-focused {
        @include focus-style-inset;
        border-radius: 2 * nx-border-radius(s);
    }
}
