@import '../shared-styles/index';

$dot-size: nx-spacer(2xs);
$dot-border-radius: 50%;

:host {
  list-style: none;
  padding: 0;
  counter-reset: list;
}

:host(.nx-list--normal) {
  @include type-style(list-normal);
}

:host(.nx-list--small) {
  @include type-style(list-small);
}

:host(.nx-list--xsmall) {
  @include type-style(list-xsmall);
  font-weight: 400;
}

:host(.nx-list--primary) {
  color: v(list-text-color);

  // change the color of the ordered-circle variant as well
  &.nx-list--ordered-circle ::ng-deep > li:not(.nx-list__icon-wrapper):after {
    background-color: v(list-icon-color);
  }

  &.nx-list__icon {
    color: v(list-icon-color);
  }
}

:host(ul.nx-list--primary) ::ng-deep > li:not(.nx-list__icon-wrapper):before {
  background-color: v(list-icon-color);
}

:host(.nx-list--secondary) {
  color: v(list-secondary-text-color);

  // change the color of the ordered-circle variant as well
  &.nx-list--ordered-circle ::ng-deep > li:not(.nx-list__icon-wrapper):after {
    background-color: v(list-secondary-icon-color);
  }

  &.nx-list__icon {
    color: v(list-secondary-icon-color);
  }
}

:host(ul.nx-list--secondary) ::ng-deep > li:not(.nx-list__icon-wrapper):before {
  background-color: v(list-secondary-icon-color);
}

// Inverting the color is enough for most states,
// we only have to take extra care of the ordered-circle variant
:host(.nx-list--negative.nx-list--primary) {
  color: v(negative);

  ::ng-deep .nx-list__icon {
    color: v(negative);
  }
}

:host(.nx-list--negative.nx-list--secondary) {
  color: v(negative-secondary);

  ::ng-deep .nx-list__icon {
    color: v(negative-secondary);
  }
}

:host ::ng-deep .nx-list__icon {
  position: absolute;
  inset-inline-start: 0;
  font-size: v(list-icon-size);
  top: calc((#{v(list-normal-line-height)} - #{v(list-icon-size)}) / 2);
  line-height: v(list-icon-size);
  height: v(list-icon-size);
}

:host(ul.nx-list--small) ::ng-deep li {
  .nx-list__icon {
    top: calc((#{v(list-small-line-height)} - #{v(list-icon-size)}) / 2);
  }
}

:host(ul.nx-list--xsmall) ::ng-deep li {
  .nx-list__icon {
    top: calc((#{v(list-xsmall-line-height)} - #{v(list-icon-size)}) / 2);
  }
}

// our .c-list__item's
:host ::ng-deep li {
  padding-inline-start: calc(#{v(list-icon-size)} + #{v(list-item-padding-horizontal)});
  position: relative;
}

:host(.nx-list--xsmall) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-xsmall-item-spacing);
}

:host(.nx-list--small) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-small-item-spacing);
}

:host(.nx-list--normal) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-normal-item-spacing);
}

:host(.nx-list--xsmall-condensed) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-xsmall-condensed-item-spacing);
}

:host(.nx-list--small-condensed) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-small-condensed-item-spacing);
}

:host(.nx-list--normal-condensed) ::ng-deep > li:not(:last-child) {
  margin-bottom: v(list-normal-condensed-item-spacing);
}

// apply the default dot for unordered (ul) lists, always exclude items with icons
:host(ul) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    border-radius: $dot-border-radius;
    content: '';
    display: block;
    height: $dot-size;
    width: $dot-size;
    position: absolute;
    inset-inline-start: calc((#{v(list-icon-size)} - #{$dot-size}) / 2);
    top: calc((#{v(list-normal-line-height)} - #{$dot-size}) / 2);

    @media screen and (forced-colors: active) {
      background-color: CanvasText !important;
    }
  }
}

:host(ul.nx-list--small) ::ng-deep > li:not(.nx-list__icon-wrapper):before {
  top: calc((#{v(list-small-line-height)} - #{$dot-size}) / 2);
}

:host(ul.nx-list--xsmall) ::ng-deep > li:not(.nx-list__icon-wrapper):before {
  top: calc((#{v(list-xsmall-line-height)} - #{$dot-size}) / 2);
}

// ordered lists (ol) have no dot but the counter, always exclude items with icons
:host(ol) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    font-size: inherit;
    font-weight: v(list-counter-font-weight);
    display: block;
    width: v(list-icon-size);
    text-align: center;
    inset-inline-start: 0;
  }
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--xsmall {
  margin-top: v(list-xsmall-item-spacing);
  margin-bottom: v(list-xsmall-item-spacing);
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--small {
  margin-top: v(list-small-item-spacing);
  margin-bottom: v(list-small-item-spacing);
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--normal {
  margin-top: v(list-normal-item-spacing);
  margin-bottom: v(list-normal-item-spacing);
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--xsmall-condensed {
  margin-top: v(list-xsmall-condensed-item-spacing);
  margin-bottom: v(list-xsmall-condensed-item-spacing);
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--small-condensed {
  margin-top: v(list-small-condensed-item-spacing);
  margin-bottom: v(list-small-condensed-item-spacing);
}

:host ::ng-deep li > ::ng-deep ol,
:host ::ng-deep li > ::ng-deep ul.nx-list--normal-condensed {
  margin-top: v(list-normal-condensed-item-spacing);
  margin-bottom: v(list-normal-condensed-item-spacing);
}

// ordered lists (ol) with option `ordered-circle` have a counter with a circle around
:host(ol.nx-list--ordered-circle) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    width: v(list-circle-size);
    @include type-style(list-small);
    font-weight: v(list-circle-font-weight);
    color: v(list-circle-text-color);
    inset-inline-start: 0;
    top: calc((#{v(list-normal-line-height)} - #{v(list-small-line-height)}) / 2);
    z-index: 2;

    @media screen and (forced-colors: active) {
      border: nx-border-size(xs) solid CanvasText;
      border-radius: 50%;
    }
  }

  &:after {
    border-radius: $dot-border-radius;
    width: v(list-circle-size);
    height: v(list-circle-size);
    inset-inline-start: 0;
    top: calc((#{v(list-normal-line-height)} - #{v(list-circle-size)}) / 2);
    content: '';
    position: absolute;

    @media screen and (forced-colors: active) {
      color: CanvasText;
    }
  }
}

:host(ol.nx-list--ordered-circle.nx-list--small) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    top: calc((#{v(list-small-line-height)} - #{v(list-small-line-height)}) / 2);
  }

  &:after {
    top: calc((#{v(list-small-line-height)} - #{v(list-circle-size)}) / 2);
  }
}

:host(ol.nx-list--ordered-circle.nx-list--xsmall) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    top: calc((#{v(list-xsmall-line-height)} - #{v(list-small-line-height)}) / 2);
  }

  &:after {
    top: calc((#{v(list-xsmall-line-height)} - #{v(list-circle-size)}) / 2);
  }
}

// take care of the circle when being inverted
:host(ol.nx-list--ordered-circle.nx-list--negative.nx-list--primary) {
  &::ng-deep > li:not(.nx-list__icon-wrapper):after {
    background-color: v(negative);
  }

  &::ng-deep > li:not(.nx-list__icon-wrapper):before {
    color: v(negative-background);
  }
}

:host(ul.nx-list--negative.nx-list--primary) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    background-color: v(negative);
  }
}

// take care of the circle when being inverted
:host(ol.nx-list--ordered-circle.nx-list--negative.nx-list--secondary) {
  &::ng-deep > li:not(.nx-list__icon-wrapper):after {
    background-color: v(negative-secondary);
  }

  &::ng-deep > li:not(.nx-list__icon-wrapper):before {
    color: v(negative-background);
  }
}

:host(ul.nx-list--negative.nx-list--secondary) ::ng-deep > li:not(.nx-list__icon-wrapper) {
  &:before {
    background-color: v(negative-secondary);
  }
}
