@use '../shared-styles/index' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  position: relative;
  display: block;
}

:host(.nx-spinner--small) {
  width: v(spinner-small-dimension);
  height: v(spinner-small-dimension);
}

:host(.nx-spinner--medium) {
  width: v(spinner-medium-dimension);
  height: v(spinner-medium-dimension);
}

:host(.nx-spinner--large) {
  width: v(spinner-large-dimension);
  height: v(spinner-large-dimension);
}

.nx-spinner__spin-block {
  width: 100%;
  height: 100%;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nx-spinner__background {
  fill: v(spinner-background-color);
}

.nx-spinner__indicator {
  fill: v(spinner-indicator-color);
}

// negative styles
:host(.nx-spinner--negative) {
  .nx-spinner__background {
    fill: v(spinner-negative-background-color);
  }

  .nx-spinner__indicator {
    fill: v(spinner-negative-indicator-color);
  }
}

@media screen and (forced-colors: active) {
  :host,
  :host.nx-spinner--negative {
    .nx-spinner__spin-block {
      border-color: Canvas highlight highlight highlight;
    }
  }
}
