@use '../shared-styles/index' as *;

.nx-table {
  // we include the cell typography here that it also gets set for the appendix
  @include type-style(table-cell);
  color: v(table-cell-color);
  text-align: left;
  width: 100%;
  display: table;
  border-bottom: v(table-border-bottom-width) solid v(table-border-bottom-color);

  :host-context([dir='rtl']) & {
    text-align: right;
  }
}

.nx-table__scroll {
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.nx-table__header-cell {
  @include type-style(table-header-cell);
  color: v(table-header-cell-color);
  background: v(table-header-cell-background-color);
  border-top: v(table-header-border-top-width) solid v(table-cell-border-top-color);
  border-bottom: v(table-header-border-bottom-width) solid v(table-header-border-bottom-color);
  padding: calc(v(table-cell-vertical-padding) - v(table-header-border-top-width))
    v(table-cell-horizontal-padding)
    calc(v(table-cell-vertical-padding) - v(table-header-border-bottom-width));
  position: relative;
}

.nx-table__header-cell--number {
  display: flex;
  position: relative;
}

.nx-table__header-cell--number .nx-table__header-title--block {
  justify-content: flex-end;
}

.nx-table__cell--number,
.nx-table__header-cell--number {
  text-align: right;

  :host-context([dir='rtl']) & {
    text-align: left;
  }
}

.nx-table__header-row,
.nx-table__row {
  display: table-row;
  vertical-align: inherit;
  background: v(table-row-background-color);
}

.nx-table__cell {
  border-top: v(table-cell-border-top-width) solid v(table-cell-border-top-color);
  padding: calc(v(table-cell-vertical-padding) - v(table-cell-border-top-width))
    v(table-cell-horizontal-padding) v(table-cell-vertical-padding);
  vertical-align: top;
}

.nx-table__header-row + .nx-table__row .nx-table__cell {
  border-top: 0;
}

.nx-table__row:last-child .nx-table__cell {
  padding-bottom: v(table-cell-vertical-padding);
}

.nx-table__header-cell,
.nx-table__cell {
  display: table-cell;
  vertical-align: inherit;
}
