@use '../shared-styles/index' as *;

:host(.nx-footer) {
  @include type-style(footer);
  color: v(footer-color);
  display: flex;
  flex-direction: row;
  background: transparent;
  padding: v(footer-padding-vertical) v(footer-padding-horizontal);
  gap: v(footer-copyright-gap);

  @include media-breakpoint-response(mobile) {
    flex-direction: column-reverse;
    padding: v(footer-mobile-padding-vertical) v(footer-mobile-padding-horizontal);
    gap: v(footer-copyright-gap-mobile);
  }
}

::ng-deep a {
  text-decoration: none;
}

::ng-deep .nx-footer__copyright {
  align-self: flex-end;
  font: v(footer-copyright-font);
  letter-spacing: v(footer-copyright-letter-spacing);
  color: v(footer-copyright-color);

  @include media-breakpoint-response(mobile) {
    align-self: v(footer-mobile-align);
    text-align: v(footer-mobile-align);
  }
}

::ng-deep .nx-footer__navigation {
  display: flex;
  align-self: flex-end;
  gap: v(footer-link-padding);

  @include media-breakpoint-response(mobile) {
    text-align: v(footer-mobile-align);
    align-self: v(footer-mobile-align);
    flex-direction: column;
    align-items: v(footer-mobile-align);
    gap: v(footer-link-mobile-padding-bottom);
  }

  & .nx-footer__link {
    @include media-breakpoint-response(mobile) {
      padding-left: 0;

      :host-context([dir='rtl']) & {
        padding-right: 0;
      }
    }
  }
}

::ng-deep .nx-footer__link {
  font-size: inherit;
  color: inherit;
  line-height: inherit;

  :host-context([dir='rtl']) & {
    padding-right: v(footer-link-padding);
    padding-left: initial;
  }

  a {
    display: flex; // get icons aligned with text
    align-items: flex-start; // align with the top
  }

  &.cdk-keyboard-focused a {
    border-radius: v(footer-link-keyboard-focus-radius);
    outline: 0;
    @include focus-style;
  }
}
