@use '../shared-styles/index' as *;

:host {
  @include type-style(toolbar);
  height: v(toolbar-height);
  border-bottom: 1px solid;
  border-bottom-color: v(toolbar-border-bottom-color);
  background: v(toolbar-background);
  display: flex;
  box-sizing: border-box;
  padding: v(toolbar-padding);
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

  @media screen and (forced-colors: active) {
    border: 1px solid CanvasText;
  }

  @media screen and (max-width: 703px) {
    padding: v(toolbar-padding-mobile);
  }
}
