@media (min-width: 704px) {
    :host(.is-vertical) {
        display: flex;
        padding: 24px 0;
    }

    :host(.is-vertical) aside {
        padding-left: 32px;
    }
}

form button {
    margin-right: 8px;
}

nx-radio-toggle {
    display: block;
}

.action-container > * {
    display: inline-block;
    margin: 0 8px 8px 0;
    float: left;
}
