<ng-template>
    <div
        class="nx-autocomplete-panel"
        role="listbox"
        [id]="id"
        [ngClass]="_classList"
        [class.nx-autocomplete-panel--in-outline-field]="_isInOutlineField"
        #panel
    >
        <ng-container *ngIf="hasItems">
            <nx-autocomplete-option *ngFor="let item of items" [value]="item">
                {{ item }}
            </nx-autocomplete-option>
        </ng-container>
        <ng-container *ngIf="!hasItems">
            <ng-content></ng-content>
        </ng-container>
    </div>
</ng-template>
