@use 'sass:math';
@use '../../../ng-aquila/src/shared-styles/index' as *;

:host {
  border-spacing: 0;
  border-bottom: v(table-border-bottom-width) solid v(table-border-bottom-color);
  width: 100%;

  @media screen and (forced-colors: active) {
    border-bottom-color: CanvasText;
  }
}

:host ::ng-deep .nx-header-cell {
  @include type-style(table-header-cell);
  color: v(table-header-cell-color);
  background: v(table-header-cell-background-color);
  border-bottom: v(table-border-bottom-width) solid v(table-header-border-bottom-color);
  border-top: v(table-header-border-top-width) solid v(table-header-border-top-color);
  padding: calc(v(table-cell-vertical-padding) - v(table-header-border-top-width))
    v(table-cell-horizontal-padding)
    calc(v(table-cell-vertical-padding) - v(table-header-border-bottom-width));
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  position: relative;
  min-height: v(table-cell-min-height);

  &:first-child {
    padding-left: v(table-cell-horizontal-padding-edge);
  }

  &:last-child {
    padding-right: v(table-cell-horizontal-padding-edge);
  }

  :host-context([dir='rtl']) & {
    text-align: right;

    &:first-child {
      padding-right: v(table-cell-horizontal-padding-edge);
      padding-left: v(table-cell-horizontal-padding);
    }

    &:last-child {
      padding-right: v(table-cell-horizontal-padding);
      padding-left: v(table-cell-horizontal-padding-edge);
    }
  }
}

:host ::ng-deep .nx-table-cell {
  @include type-style(table-cell);
  color: v(table-cell-color);
  padding: calc(v(table-cell-vertical-padding) - v(table-cell-border-top-width))
    v(table-cell-horizontal-padding) v(table-cell-vertical-padding);
  border-top: v(table-cell-border-top-width) solid v(table-cell-border-top-color);
  min-height: v(table-cell-min-height);

  &:first-child {
    padding-left: v(table-cell-horizontal-padding-edge);
  }

  &:last-child {
    padding-right: v(table-cell-horizontal-padding-edge);
  }

  :host-context([dir='rtl']) & {
    &:first-child {
      padding-right: v(table-cell-horizontal-padding-edge);
      padding-left: v(table-cell-horizontal-padding);
    }

    &:last-child {
      padding-right: v(table-cell-horizontal-padding);
      padding-left: v(table-cell-horizontal-padding-edge);
    }
  }
}

:host(.nx-table--condensed) {
  ::ng-deep .nx-header-cell {
    padding: calc(v(table-condense-vertical-padding) - v(table-cell-border-top-width))
      v(table-condense-horizontal-padding)
      calc(v(table-condense-vertical-padding) - v(table-border-bottom-width));
    min-height: v(table-cell-condense-min-height);
  }

  ::ng-deep .nx-table-cell {
    padding: calc(v(table-condense-vertical-padding) - v(table-cell-border-top-width))
      v(table-condense-horizontal-padding) v(table-condense-vertical-padding);
    min-height: v(table-cell-condense-min-height);
  }

  ::ng-deep .nx-expandable-table-cell {
    padding-bottom: 0;
    padding-top: 0;

    .nx-expandable-table-cell__wrapper {
      padding: calc(v(table-condense-vertical-padding) - v(table-cell-border-top-width))
        v(table-condense-horizontal-padding) v(table-condense-vertical-padding);
    }
  }
}

:host ::ng-deep .nx-expandable-table-cell {
  @include type-style(table-cell);
  color: v(table-cell-color);

  &__content {
    overflow: hidden;
  }

  &__wrapper {
    padding: calc(v(table-cell-vertical-padding) - v(table-cell-border-top-width))
      v(table-cell-horizontal-padding) v(table-cell-vertical-padding);
  }

  &--indented {
    padding-left: v(table-expandable-cell-indent);
  }

  &:first-child .nx-cell__wrapper {
    padding-left: v(table-cell-horizontal-padding-edge);

    :host-context([dir='rtl']) & {
      padding-right: v(table-cell-horizontal-padding-edge);
      padding-left: initial;
    }
  }

  &:last-child .nx-cell__wrapper {
    padding-right: v(table-cell-horizontal-padding-edge);

    :host-context([dir='rtl']) & {
      padding-right: initial;
      padding-left: v(table-cell-horizontal-padding-edge);
    }
  }
  &.is-expanded {
    border-top: v(table-cell-border-top-width) solid v(table-cell-border-top-color);
  }
}
:host(.nx-table--zebra) ::ng-deep tbody {
  .nx-expandable-table-row {
    &:nth-child(4n) {
      background: v(zebra-table-even-row-background-color);

      + .nx-table-row:not(.is-selected) {
        background: v(zebra-table-odd-row-background-color);
      }
    }

    &:nth-child(4n + 2) {
      background: v(zebra-table-odd-row-background-color);

      + .nx-table-row:not(.is-selected) {
        background: v(zebra-table-even-row-background-color);
      }
    }
  }

  .nx-table-row {
    &:nth-child(2n):not(.is-selected) {
      background: v(zebra-table-even-row-background-color);
    }

    &.nx-table-row--selectable:not(.is-selected) {
      &:hover {
        background: v(zebra-table-row-hover-background-color);
      }

      &:active {
        background: v(zebra-table-row-active-background-color);
      }
    }

    &.nx-table-row--selectable.is-selected:hover {
      background: v(selectable-table-row-selected-hover-background-color);
    }
  }

  .nx-table-cell {
    border-top: v(table-cell-border-top-width) solid v(zebra-table-cell-border-top-color);
  }
}

:host ::ng-deep .nx-table-row {
  background: v(table-row-background-color);

  &:first-child .nx-table-cell {
    border-top: 0;
  }

  &.nx-table-row--selectable {
    cursor: pointer;

    // don't show inner dotted border on firefox
    &::-moz-focus-inner {
      border: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &.nx-table-row--selectable:not(.is-selected) {
    &:hover {
      background: v(selectable-table-row-hover-background-color);
    }

    &:active {
      background: v(selectable-table-row-active-background-color);
    }
  }

  &.nx-table-row--selectable.is-selected:hover {
    background: v(selectable-table-row-selected-hover-background-color);
  }

  &.is-selected {
    background: v(selectable-table-row-selected-background-color);

    + .nx-expandable-table-row {
      background: v(selectable-table-row-selected-background-color);
    }

    > .nx-table-cell,
    + .nx-table-row > .nx-table-cell,
    + .nx-expandable-table-row + .nx-table-row > .nx-table-cell {
      border-color: v(selectable-table-row-selected-border-color);
    }
  }

  &.nx-table-row--sticky {
    .nx-header-cell {
      position: sticky;
      top: 0;
      z-index: 2;
      background: v(
        ui-01
      ); //since `table-header-cell-background-color` is currently transparent in all themes
    }
  }
}

:host(.nx-table--sticky-first) ::ng-deep .nx-table-row--sticky .nx-header-cell:first-child,
:host(.nx-table--sticky-last) ::ng-deep .nx-table-row--sticky .nx-header-cell:last-child {
  // case sticky header row AND sticky first/last column
  z-index: 3;
}

// remove margins from some components that are placed inside table cells
:host ::ng-deep .nx-header-cell,
:host ::ng-deep .nx-table-cell,
:host ::ng-deep .nx-exandable-table-cell {
  nx-checkbox {
    margin: 0;

    .nx-checkbox__label {
      padding: 0;
    }
  }

  nx-taglist {
    margin: 0;

    .nx-taglist__list-item {
      margin-bottom: 0;
    }
  }

  .nx-button {
    margin: 0;
  }

  nx-formfield .nx-formfield__wrapper {
    padding: 0;
  }

  nx-formfield.has-outline .nx-formfield__wrapper {
    padding-top: 0;
  }

  .nx-list {
    margin: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }

  // fix alignment on IE
  nx-link a {
    display: inline-flex;
  }
}

// sticky columns
@include media-breakpoint-up(medium) {
  ::ng-deep .nx-header-cell,
  ::ng-deep .nx-expandable-table-cell,
  ::ng-deep .nx-table-cell {
    :host(.nx-table--sticky-first) &:first-child,
    :host(.nx-table--sticky-last) &:last-child {
      position: sticky;
      left: 0;
      z-index: 1;
      background-color: v(table-sticky-column-background-color);

      &::before {
        content: ' ';
        position: absolute;
        right: calc(v(table-sticky-column-shadow-size) * -1);
        width: v(table-sticky-column-shadow-size);
        top: -1px;
        bottom: -1px;
        box-shadow: v(table-sticky-first-column-box-shadow);
      }
    }

    :host(.nx-table--sticky-last) &:last-child {
      right: 0;

      &::before {
        left: calc(v(table-sticky-column-shadow-size) * -1);
        box-shadow: v(table-sticky-last-column-box-shadow);
      }
    }

    // add the zebra color to the sticky column
    ::ng-deep .nx-table-row:nth-child(2n):not(.is-selected) & {
      :host(.nx-table--sticky-first.nx-table--zebra) &:first-child,
      :host(.nx-table--sticky-last.nx-table--zebra) &:last-child {
        background: v(zebra-table-even-row-background-color);
      }
    }

    // add the selected row color to the sticky column
    ::ng-deep .nx-table-row--selectable.is-selected & {
      :host(.nx-table--sticky-first) &:first-child,
      :host(.nx-table--sticky-last) &:last-child {
        background: v(selectable-table-row-selected-background-color);
      }
    }

    // add hover to the sticky column of non selected rows
    ::ng-deep .nx-table-row--selectable:not(.is-selected):hover & {
      :host(.nx-table--sticky-first) &:first-child,
      :host(.nx-table--sticky-last) &:last-child {
        background: v(selectable-table-row-hover-background-color);
      }
    }

    // add hover to the sticky column of non selected zebra rows
    ::ng-deep .nx-table-row--selectable:not(.is-selected):hover & {
      :host(.nx-table--sticky-first.nx-table--zebra) &:first-child,
      :host(.nx-table--sticky-last.nx-table--zebra) &:last-child {
        background: v(zebra-table-row-hover-background-color);
      }
    }

    // add hover to the sticky column of selected rows
    ::ng-deep .nx-table-row--selectable.is-selected:hover & {
      :host(.nx-table--sticky-first) &:first-child,
      :host(.nx-table--sticky-last) &:last-child {
        background: v(selectable-table-row-selected-hover-background-color);
      }
    }

    // add active to the sticky column of non selected rows
    ::ng-deep .nx-table-row--selectable:not(.is-selected):active & {
      :host(.nx-table--sticky-first.nx-table--zebra) &:first-child,
      :host(.nx-table--sticky-last.nx-table--zebra) &:last-child {
        background: v(zebra-table-row-active-background-color);
      }
    }
  }
}

// resize table is already deprecated
:host ::ng-deep .nx-table__resize-handle {
  position: absolute;
  right: 0;
  border-right: 2px solid v(table-resize-handle-color);
  cursor: col-resize;
  height: 24px;
  top: 50%;
  width: 12px;
  transform: translate(0, -50%);
}

:host([nxTableCellClip]) ::ng-deep {
  td,
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
