<nx-formfield label="Date of damage">
    <input
        [min]="minDate"
        [max]="maxDate"
        ngModel
        #dateMinMaxModel="ngModel"
        nxDatefield
        nxInput
        [datepicker]="picker2"
    />

    <span nxFormfieldHint>MM/DD/YYYY</span>
    <nx-datepicker-toggle
        [for]="picker2"
        nxFormfieldSuffix
    ></nx-datepicker-toggle>
    <nx-datepicker #picker2></nx-datepicker>

    <nx-error
        nxFormfieldError
        *ngIf="dateMinMaxModel.errors && dateMinMaxModel.errors.nxDatefieldMax"
    >
        The date is too far in the future
    </nx-error>
    <nx-error
        nxFormfieldError
        *ngIf="dateMinMaxModel.errors && dateMinMaxModel.errors.nxDatefieldMin"
    >
        The date is too far in the past
    </nx-error>
    <nx-error
        nxFormfieldError
        *ngIf="dateMinMaxModel.errors && dateMinMaxModel.errors.nxDatefieldParse"
    >
        That's not a date
    </nx-error>
</nx-formfield>
