:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  width: 100%;
}

nx-indicator {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

nx-indicator:empty {
  left: calc(50% + 2px);
  bottom: calc(50% + 2px);
}
