@use '../shared-styles/index' as *;

:host {
  @include type-style(header);
}

// this fixes vertical alignment of the .nx-header__row on IE11
:host(.nx-header:not(.nx-header--single-row)) {
  display: flex;
  flex-direction: column;
}

:host(.nx-header.nx-header--single-row),
::ng-deep .nx-header__row {
  display: flex;
  align-items: center;
  padding: v(header-padding);
  border-bottom: v(header-border-width) solid v(header-border-color);
  height: v(header-height);
  justify-content: space-between;
  background: v(header-background-color);

  @media screen and (forced-colors: active) {
    background-color: Canvas;
  }

  @media screen and (max-width: 703px) {
    padding: v(header-mobile-padding);
  }
}

::ng-deep .nx-header__link {
  border-bottom: v(header-link-border-width) solid transparent;
  padding-top: v(header-link-border-width);
  text-decoration: none;
  display: block;
  white-space: nowrap;

  &::after {
    display: block;
    content: attr(text-content);
    font-weight: v(header-link-active-font-weight);
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  &.is-active {
    color: v(header-link-active-color);
    border-color: currentColor;

    .nx-header__link-title {
      font-weight: v(header-link-active-font-weight);
    }
  }

  &:hover,
  &:active {
    color: v(header-link-active-color);
    border-color: v(header-link-active-color);
  }

  @media screen and (forced-colors: active) {
    color: LinkText !important;
  }
}

@media screen and (forced-colors: active) {
  ::ng-deep .nx-header__link {
    border-bottom: none;

    &.is-active {
      border-bottom: v(header-link-border-width) solid;
    }
  }
}

::ng-deep .nx-header__link-title {
  line-height: 0;
}

::ng-deep .nx-header__brand {
  margin-right: v(header-brand-margin-right);
  display: flex;
  align-items: stretch;
  gap: v(header-brand-gap);

  img {
    display: block;
    height: v(header-brand-image-size);
  }

  :host-context([dir='rtl']) & {
    margin-right: initial;
    margin-left: v(header-brand-margin-right);
  }
}

::ng-deep .nx-header__actions {
  display: flex;
  align-items: center;
  margin-left: v(header-actions-margin-left);
  gap: v(header-actions-gap);

  &.nx-header__actions--show-separator {
    padding-left: v(header-actions-separator-padding-left);
    border-left-width: v(header-border-width);
    border-left-style: solid;
    border-left-color: v(header-border-color);
  }

  :host-context([dir='rtl']) & {
    margin-right: v(header-actions-margin-left);
    margin-left: initial;

    &.nx-header__actions--show-separator {
      padding-right: v(header-actions-separator-padding-left);
      padding-left: initial;
      border-right-width: v(header-border-width);
      border-right-style: solid;
      border-right-color: v(header-border-color);
      border-left: none;
    }
  }
}

::ng-deep .nx-header__link.cdk-keyboard-focused {
  @include focus-style;
  border-radius: v(header-link-focus-border-radius);
}

:host ::ng-deep a:focus {
  outline: none;
}

::ng-deep .nx-header__app-title {
  display: flex;

  @include type-style(header-app-title);
  align-items: center;
  padding-left: v(header-app-title-padding-left);
  white-space: nowrap;
  border-left-width: v(header-border-width);
  border-left-style: solid;
  border-left-color: v(header-border-color);

  :host-context([dir='rtl']) & {
    padding-right: v(header-app-title-padding-left);
    padding-left: initial;
    margin-left: initial;
    border-right-width: v(header-border-width);
    border-right-style: solid;
    border-right-color: v(header-border-color);
    border-left: none;
  }
}
