@import 'assets/styles/aquila-font.css';
@import 'projects/ngx-docs-ui/src/lib/styles/themes/docs-theme-prebuilt.scss';
@import 'projects/ng-aquila/src/shared-styles/normalize.scss';

.docs-private {
    display: none !important;
}
