.cobranding {
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    margin-right: 16px;
    margin-left: auto;
}

nx-header-brand .logo-with-title {
    margin-right: 8px;
}

.logo-text {
    color: var(--text-01, #ffffff);
}

figure {
    display: flex;
    align-items: center;
}
