@use '../../shared-styles/index' as *;

:host(.nx-message--plain) {
  --message-icon-gap: var(--message-plain-icon-gap);
  --message-icon-gap-mobile: var(--message-plain-icon-gap);
  padding: 0;
  border: none;
  background-color: transparent;
  @include type-style(message-plain);

  &.context-info {
    color: v(message-info-icon-color);
  }
  &.context-warning {
    color: v(message-warning-icon-color);
  }
  &.context-error {
    color: v(message-error-icon-color);
  }
  &.context-success {
    color: v(message-success-icon-color);
  }
}
