@use '../shared-styles/index' as *;

:host {
  position: relative;
  display: block;

  &.nx-switcher--small-label .nx-switcher__control {
    @include type-style(switcher-small);
  }
}

.nx-switcher__input {
  opacity: 0;
  position: absolute;
}

.nx-switcher__control {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  @include type-style(switcher-large);

  &.has-label {
    gap: v(switcher-label-gap);
  }
}

:host(.is-swapped) .nx-switcher__control {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.nx-switcher__label-column {
  display: flex;
  flex-direction: column;
}

.nx-switcher__toggle-wrapper {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.nx-switcher__control.has-label .nx-switcher__toggle-wrapper {
  align-self: flex-start;
  height: 1lh;
}

.nx-switcher__hint {
  @include type-style(switcher-hint);
  color: v(switcher-hint-color);
  margin-top: v(switcher-label-hint-gap);
}

.nx-switcher__toggle {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: v(switcher-width);
  height: v(switcher-height);
  background-color: v(switcher-unchecked-background-color);
  border-radius: v(switcher-border-radius);
  transition: background-color 0.2s ease;
  border: v(switcher-border-default) solid v(switcher-default-border-color);
  &:hover:not(.is-disabled) {
    background-color: v(switcher-default-hover-color);
  }
  &:active:not(.is-disabled) {
    background-color: v(switcher-default-active-color);
  }
}

.nx-switcher__dot {
  position: absolute;
  height: v(switcher-dot-size);
  width: v(switcher-dot-size);
  left: v(switcher-dot-padding);
  bottom: v(switcher-dot-padding);
  background-color: v(switcher-dot-background-color);
  border-radius: v(switcher-border-radius);
  transform: translate(0);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;

  :host-context([dir='rtl']) & {
    right: v(switcher-dot-padding);
    left: auto;
  }
}

// CHECKED STYLES
:host(.is-checked) {
  .nx-switcher__dot {
    transform: translate(v(switcher-translate));
    background-color: v(switcher-dot-default-color);
    [dir='rtl'] & {
      transform: translate(-v(switcher-translate));
    }
  }

  .nx-switcher__toggle {
    border: v(switcher-border-default) solid v(switcher-checked-border-color);
    background-color: v(switcher-checked-background-color);
  }
  &:not(.is-readonly):not(.is-disabled):not(.has-error) .nx-switcher__toggle {
    &:hover {
      border: v(switcher-border-default) solid v(switcher-checked-hover-color);
      background-color: v(switcher-checked-hover-color);
    }
    &:active {
      border: v(switcher-border-default) solid v(switcher-checked-active-color);
      background-color: v(switcher-checked-active-color);
    }
  }

  nx-icon {
    opacity: v(switcher-icon-opacity);
    transition: opacity 0.2s ease;
  }
}

:host(.check-icon-small) nx-icon {
  font-size: nx-font-size(3xs); // required to override `font-size: auto;` of the nx-icon component
}

nx-icon {
  position: absolute;
  top: nx-spacer(4xs);
  left: nx-spacer(4xs);
  opacity: 0;
  color: v(switcher-checked-icon-color);
}

// BIG
:host(.is-big) {
  .nx-switcher__toggle {
    width: v(switcher-large-width);
    height: v(switcher-large-height);
    border-radius: v(switcher-large-height);
  }

  .nx-switcher__dot {
    height: v(switcher-dot-size-large);
    width: v(switcher-dot-size-large);
  }

  nx-icon {
    font-size: nx-font-size(s);

    [dir='rtl'] & {
      right: v(switcher-dot-padding-large);
      left: auto;
    }
  }
}

// INVERSE
:host(.is-negative) {
  --switcher-hint-color: #{v(switcher-hint-inverse-color)};
  --switcher-dot-background-color: #{v(switcher-inverse-dot-background-color)};
  --switcher-dot-default-color: #{v(switcher-inverse-checked-dot-color)};
  --switcher-unchecked-background-color: #{v(switcher-inverse-unchecked-background-color)};
  --switcher-default-border-color: #{v(switcher-inverse-border-color)};
  --switcher-checked-background-color: #{v(switcher-inverse-checked-background-color)};
  --switcher-checked-border-color: #{v(switcher-inverse-checked-border-color)};
  --switcher-checked-icon-color: #{v(switcher-inverse-icon-color)};
  --switcher-default-hover-color: #{v(switcher-inverse-hover-color)};
  --switcher-default-active-color: #{v(switcher-inverse-active-color)};
  --switcher-checked-hover-color: #{v(switcher-inverse-checked-hover-color)};
  --switcher-checked-active-color: #{v(switcher-inverse-checked-active-color)};

  .nx-switcher__control {
    color: v(switcher-inverse-text-color);
  }
}

:host(.is-negative.is-disabled) {
  --switcher-disabled-background-color: #{v(switcher-inverse-disabled-background-color)};
  --switcher-disabled-border-color: #{v(switcher-inverse-disabled-border-color)};
  --switcher-disabled-dot-background-color: #{v(switcher-inverse-disabled-dot-background-color)};
  --switcher-disabled-text-color: #{v(switcher-inverse-disabled-text-color)};
  --switcher-disabled-icon-color: #{v(switcher-inverse-disabled-icon-color)};
  --switcher-hint-color: #{v(switcher-hint-inverse-disabled-color)};
  --switcher-checked-disabled-background-color: #{v(
      switcher-inverse-checked-disabled-background-color
    )};
  --switcher-dot-checked-disabled-color: #{v(switcher-inverse-dot-checked-disabled-color)};
}

:host(.is-negative.is-readonly) {
  --switcher-readonly-background-color: #{v(switcher-inverse-readonly-background-color)};
  --switcher-readonly-border-color: #{v(switcher-inverse-readonly-border-color)};
  --switcher-readonly-dot-background-color: #{v(switcher-inverse-readonly-dot-background-color)};
  --switcher-readonly-text-color: #{v(switcher-inverse-readonly-text-color)};
  --switcher-readonly-icon-color: #{v(switcher-inverse-readonly-icon-color)};
  --switcher-hint-color: #{v(switcher-hint-inverse-readonly-color)};
  --switcher-readonly-checked-background-color: #{v(
      switcher-inverse-readonly-checked-background-color
    )};
}

// ARIA
:host .nx-switcher__input.cdk-keyboard-focused + .nx-switcher__control .nx-switcher__toggle {
  @include focus-style;
}

// DISABLED
:host(.is-disabled) {
  &.is-checked {
    .nx-switcher__toggle {
      background-color: v(switcher-checked-disabled-background-color);
      border: v(switcher-border-default) solid v(switcher-checked-disabled-background-color);
    }
    .nx-switcher__dot {
      background-color: v(switcher-dot-checked-disabled-color);
    }
  }
  .nx-switcher__toggle {
    background-color: v(switcher-disabled-background-color);
    border: v(switcher-border-default) solid v(switcher-disabled-border-color);
  }

  .nx-switcher__dot {
    background-color: v(switcher-disabled-dot-background-color);
  }

  .nx-switcher__control {
    cursor: not-allowed;
    color: v(switcher-disabled-text-color);
  }

  --switcher-hint-color: #{v(switcher-hint-disabled-color)};

  nx-icon {
    color: v(switcher-disabled-icon-color);
  }
}

:host(.is-readonly) {
  .nx-switcher__toggle {
    background-color: v(switcher-readonly-background-color);
    border: 1px solid v(switcher-readonly-border-color);
  }
  &.is-checked {
    .nx-switcher__toggle {
      background-color: v(switcher-readonly-checked-background-color);
      border: 1px solid v(switcher-readonly-border-color);
    }
  }

  .nx-switcher__dot {
    background-color: v(switcher-readonly-dot-background-color);
    left: v(switcher-dot-readonly-padding);
    bottom: v(switcher-dot-readonly-padding);
    nx-icon {
      color: v(switcher-readonly-icon-color);
    }
  }

  .nx-switcher__control {
    cursor: not-allowed;
    color: v(switcher-readonly-text-color);
  }
}

// ERROR
:host(.has-error) {
  --switcher-error-color: #{v(danger)};
  --switcher-error-hover-color: #{v(danger-hover)};
  --switcher-error-active-color: #{v(danger-active)};

  &.is-checked .nx-switcher__toggle {
    background-color: var(--switcher-error-color);
    &:hover {
      background-color: var(--switcher-error-hover-color);
      border: v(switcher-border-default) solid var(--switcher-error-hover-color);
    }
    &:active {
      background-color: var(--switcher-error-active-color);
      border: v(switcher-border-default) solid var(--switcher-error-active-color);
    }
  }
  .nx-switcher__toggle {
    border: v(switcher-border-default) solid var(--switcher-error-color);
    &:hover {
      background-color: v(switcher-default-hover-color);
      border: v(switcher-border-default) solid var(--switcher-error-hover-color);
    }
    &:active {
      background-color: v(switcher-default-active-color);
      border: v(switcher-border-default) solid var(--switcher-error-active-color);
    }
  }

  nx-icon {
    color: var(--switcher-error-color);
  }
}

:host(.has-error.is-negative) {
  --switcher-error-color: #{v(switcher-inverse-error-color)};
  --switcher-error-hover-color: #{v(switcher-inverse-error-hover-color)};
  --switcher-error-active-color: #{v(switcher-inverse-error-active-color)};
}

// high contrast
@media screen and (forced-colors: active) {
  :host,
  :host(.is-negative) {
    .nx-switcher__control {
      color: buttonText;
    }

    .nx-switcher__toggle {
      forced-color-adjust: none;
      color: highlightText;
      background-color: highlight;
    }

    &:not(.is-checked) {
      .nx-switcher__toggle {
        background-color: buttonFace;
        border: nx-border-size(m) solid buttonText;
        color: buttonText;
      }

      .nx-switcher__dot {
        left: 0;
        bottom: 0;
        box-shadow: 0 0 0 nx-border-size(m) buttonText;
        background-color: buttonText;
      }
    }

    &.is-checked {
      .nx-switcher__toggle {
        background-color: highlight;
      }

      .nx-switcher__dot {
        background-color: highlightText;
        color: buttonText;
      }

      .nx-switcher__dot nx-icon {
        color: highlight;
      }
    }

    // disabled
    &.is-disabled {
      .nx-switcher__control {
        color: GrayText;
      }

      .nx-switcher__toggle {
        color: GrayText;
      }

      .nx-switcher__dot {
        opacity: 1;
        background-color: GrayText;
      }
    }

    &.is-disabled:not(.is-checked) {
      .nx-switcher__toggle {
        border: nx-border-size(m) solid GrayText;
      }

      .nx-switcher__dot {
        box-shadow: 0 0 0 nx-border-size(m) GrayText;
      }
    }

    &.is-disabled.is-checked {
      .nx-switcher__toggle {
        background-color: GrayText;
      }

      .nx-switcher__dot {
        background-color: Canvas;
      }

      .nx-switcher__dot nx-icon {
        color: GrayText;
      }
    }
  }
}

// Error
.nx-switcher-error {
  margin-top: v(switcher-stack);
}
