@import "../shared-styles/index";

$switcher-border-radius: nx-border-radius(m);

:host {
  position: relative;
  display: flex;
}

:host(.is-swapped) .nx-switcher__label {
  flex-direction: row-reverse;

  &.has-label .nx-switcher__toggle {
    margin-left: nx-spacer(xs);

    [dir="rtl"] & {
      margin-right: nx-spacer(xs);
      margin-left: initial;
    }
  }
}

.nx-switcher__input {
  opacity: 0;
  position: absolute;
}

.nx-switcher__label {
  @include type-style(switcher-large);

  cursor: pointer;
  display: flex;
  position: relative;
}

.nx-switcher__toggle {
  position: relative;
  display: inline-block;
  width: nx-spacer(4m);
  min-width: nx-spacer(4m); // fix for IE11
  height: nx-spacer(m);
  @include var(background-color, switcher-unchecked-background-color);
  border-radius: $switcher-border-radius;
  transition: background-color .2s ease;
}

:host(:not(.is-swapped)) .has-label .nx-switcher__toggle {
  margin-right: nx-spacer(xs);

  [dir="rtl"] & {
    margin-right: initial;
    margin-left: nx-spacer(xs);
  }
}

.nx-switcher__dot {
  position: absolute;
  height: nx-spacer(m) - nx-spacer(3xs);
  width: nx-spacer(m) - nx-spacer(3xs);
  left: nx-spacer(4xs);
  bottom: nx-spacer(4xs);
  @include var(background-color, switcher-dot-background-color);
  border-radius: $switcher-border-radius;
  transform: translate(0);
  transition: transform .2s ease;

  :host-context([dir="rtl"]) & {
    right: nx-spacer(4xs);
    left: auto;
  }
}

// CHECKED STYLES
:host(.is-checked) {
  .nx-switcher__dot {
    transform: translate(nx-spacer(m));

    [dir="rtl"] & {
      transform: translate(nx-spacer(m) * -1);
    }
  }

  .nx-switcher__toggle {
    @include var(background-color, switcher-checked-background-color);
  }
}

:host(.is-checked.is-negative) {
  .nx-switcher__toggle {
    @include var(background-color, negative-dimmed);
  }
}

// BIG
:host(.is-big) {

  .nx-switcher__toggle {
    width: nx-spacer(l);
    min-width: nx-spacer(l); // fix for IE11
    height: nx-spacer(2m);
  }

  .nx-switcher__dot {
    height: nx-spacer(m) + nx-spacer(3xs);
    width: nx-spacer(m) + nx-spacer(3xs);
  }

  nx-icon {
    position: absolute;
    top: nx-spacer(4xs);
    left: nx-spacer(4xs);
    font-size: nx-font-size(s);
    opacity: 0;
    @include var(color, switcher-checked-icon-color);

    [dir="rtl"] & {
      right: nx-spacer(4xs);
      left: auto;
    }
  }

  &.is-checked nx-icon {
    opacity: 1;
    transition: opacity .2s ease;
  }

  &.nx-switcher--large-label {
    .has-label {
      .nx-switcher__label-text {
        @include var(margin-top, switcher-big-large-label-text-margin-top);
      }

      .nx-switcher__toggle {
        @include var(margin-top, switcher-big-large-label-control-margin-top);
      }
    }
  }

  &.nx-switcher--small-label {
    .has-label {
      .nx-switcher__label-text {
        @include var(margin-top, switcher-big-small-label-text-margin-top);
      }

      .nx-switcher__toggle {
        @include var(margin-top, switcher-big-small-label-control-margin-top);
      }
    }
  }
}

// large FONT
:host(.nx-switcher--large-label) {
  .has-label {
    .nx-switcher__label-text {
      @include var(margin-top, switcher-large-label-text-margin-top);
    }

    .nx-switcher__toggle {
      @include var(margin-top, switcher-large-label-control-margin-top);
    }
  }
}

// SMALL FONT
:host(.nx-switcher--small-label) {
  .nx-switcher__label {
    @include type-style(switcher-small);
  }

  .has-label {
    .nx-switcher__label-text {
      @include var(margin-top, switcher-small-label-text-margin-top);
    }

    .nx-switcher__toggle {
      @include var(margin-top, switcher-small-label-control-margin-top);
    }
  }
}

// NEGATIVE
:host(.is-negative) {
  .nx-switcher__label {
    @include var(color, negative);
  }

  .nx-switcher__dot {
    @include var(background-color, negative);
  }

  .nx-switcher__toggle {
    @include var(background-color, negative-dimmed);
  }
}

// ARIA
:host-context([data-whatinput="keyboard"]) {
  .nx-switcher__input:focus+.nx-switcher__label .nx-switcher__toggle {
    @include focus-style;
  }
}

// DISABLED
:host(.is-disabled) {

  .nx-switcher__toggle {
    @include var(background-color, switcher-disabled-background-color);
  }

  .nx-switcher__dot {
    @include var(background-color, switcher-disabled-dot-background-color);
  }

  .nx-switcher__label {
    cursor: not-allowed;
    @include var(color, switcher-disabled-text-color);
  }

  nx-icon {
    @include var(color, switcher-disabled-icon-color);
  }
}

// ERROR
:host(.has-error) {
  .nx-switcher__toggle {
    @include var(background-color, danger);
  }
}

// high contrast
@media screen and (-ms-high-contrast: active) {

  .nx-switcher__label {
    color: buttonText;
  }

  .nx-switcher__toggle {
    color: highlightText;
    background-color: highlight;
  }

  :host:not(.is-checked) {
    .nx-switcher__toggle {
      background-color: buttonFace;
      border: nx-border-size(m) solid buttonText;
      color: buttonText;
    }

    .nx-switcher__dot {
      left: 0;
      bottom: 0;
      box-shadow: 0 0 0 nx-border-size(m) buttonText;
      background-color: buttonText;

      [dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }
  }

  :host(.is-checked) {
    .nx-switcher__dot {
      background-color: highlightText;
    }

    .nx-switcher__dot nx-icon {
      color: highlight;
    }
  }

  // disabled
  :host(.is-disabled) {
    .nx-switcher__label {
      color: GrayText;
    }

    .nx-switcher__toggle {
      color: GrayText;
    }

    .nx-switcher__dot {
      opacity: 1;
      background-color: GrayText;
    }
  }

  :host(.is-disabled):not(.is-checked) {
    .nx-switcher__toggle {
      border: nx-border-size(m) solid GrayText;
    }

    .nx-switcher__dot {
      box-shadow: 0 0 0 nx-border-size(m) GrayText;
    }
  }

  :host(.is-disabled).is-checked {
    .nx-switcher__toggle {
      background-color: GrayText;
    }

    .nx-switcher__dot {
      background-color: window;
    }

    .nx-switcher__dot nx-icon {
      color: GrayText;
    }
  }
}
