<input
    #input
    type="checkbox"
    [id]="id"
    [attr.name]="name"
    [disabled]="disabled"
    [checked]="checked"
    (click)="toggle()"
    (blur)="touch()"
    role="switch"
    [attr.aria-checked]="checked"
    class="nx-switcher__input"
/>
<label [attr.for]="id" class="nx-switcher__label" [class.has-label]="labelHasContent">
    <div class="nx-switcher__toggle">
        <div class="nx-switcher__dot">
            <nx-icon *ngIf="big" name="check" aria-hidden="true"></nx-icon>
        </div>
    </div>
    <div class="nx-switcher__label-text" #switcherLabelWrapper (cdkObserveContent)="labelContentChanged()">
        <ng-content></ng-content>
    </div>
</label>
