.container {
  padding: 12px;
  background: var(
    --documentation-comparison-table-example-background-color,
    #0f2a3d
  );
}

.product-underline {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  margin: 0;
}

.has-popover {
  display: flex;
  flex-direction: row;
}

.info-icon {
  margin-left: auto;
}

@media only screen and (max-width: 703px) {
  .has-popover {
    text-align: left;
  }
}

.popular-cell__content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  nx-icon {
    color: var(--semantic-color-on-accent-attention-resting);
  }
}

.popular-cell__title {
  width: 100%;
  text-align: center;
  margin: 0;
}

.info-icon,
.popular-info-icon {
  align-self: flex-start;
}

@media only screen and (min-width: 704px) and (max-width: 991px) {
  .info-icon {
    margin-left: 8px;
  }

  .has-popover {
    align-items: center;
  }
}

.check-icon {
  color: var(--success);
}

::ng-deep .is-selected .check-icon {
  color: var(--success-02, --success);
}
