figure {
  display: flex;
  align-items: center;
}

:host {
  ::ng-deep .nx-menu__wrapper {
    position: static !important;
  }
}

/* The custom margin inside nx-header-action will be overridden in A1 theme */
.action-item {
  margin-left: 16px;
}
