@use '../shared-styles/index' as *;
:host {
  @include type-style(badge);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: v(badge-padding);
  white-space: nowrap;
  border-radius: v(badge-border-radius);
  min-width: v(badge-min-width);
  min-height: v(badge-min-height);

  @media screen and (forced-colors: active) {
    border: nx-border-size(xs) solid CanvasText;
  }

  &.single-letter {
    padding: 0;
    text-align: center;
  }
}

@mixin badge-variant($variation: '') {
  $prefix: 'badge-';
  @if ($variation != '') {
    $prefix: 'badge-#{$variation}-';
  }

  color: v($prefix + color);
  background-color: v($prefix + 'background-color');

  &.nx-badge--active {
    background-color: v($prefix + active-background-color);
    color: v($prefix + active-color);
  }
  &.nx-badge--positive {
    background-color: v($prefix + positive-background-color);
    color: v($prefix + positive-color);
  }
  &.nx-badge--critical {
    background-color: v($prefix + critical-background-color);
    color: v($prefix + critical-color);
  }
  &.nx-badge--negative {
    background-color: v($prefix + negative-background-color);
    color: v($prefix + negative-color);
  }
}

:host {
  @include badge-variant();
}

:host.nx-badge--vibrant {
  @include badge-variant('vibrant');
}
