@use '../shared-styles/index' as *;
:host {
  @include type-style(badge);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: v(badge-padding);
  white-space: nowrap;
  border-radius: v(badge-border-radius);
  min-width: v(badge-min-width);
  min-height: v(badge-min-height);

  @media screen and (forced-colors: active) {
    border: nx-border-size(xs) solid CanvasText;
  }

  &.single-letter {
    padding: 0;
    text-align: center;
  }
}

:host {
  &.nx-badge-scheme-brand {
    background-color: v(color-brand);
    color: v(color-on-brand);
  }
  &.nx-badge-scheme-brand--inverse {
    background-color: v(color-brand-inverse);
    color: v(color-on-brand-inverse);
  }
  @each $color in (yellow, orange, red, purple, teal, aqua, blue, green, gray) {
    &.nx-badge-scheme-color-subtle-#{$color} {
      background-color: v(color-subtle-#{$color});
      color: v(color-on-subtle-#{$color});
    }
    &.nx-badge-scheme-color-attention-#{$color} {
      background-color: v(color-attention-#{$color});
      color: v(color-on-attention-resting);
    }
    &.nx-badge-scheme-color-subtle-#{$color}--inverse {
      background-color: v(color-subtle-inverse-#{$color});
      color: v(color-on-subtle-inverse-#{$color});
    }
    &.nx-badge-scheme-color-attention-#{$color}--inverse {
      background-color: v(color-attention-inverse-#{$color});
      color: v(color-on-attention-inverse-resting);
    }
  }

  &.nx-badge-subtle--disabled {
    background-color: v(color-subtle-disabled);
    color: v(color-on-subtle-disabled);
    cursor: not-allowed;
  }

  &.nx-badge-attention--disabled {
    background-color: v(color-attention-disabled);
    color: v(color-on-attention-disabled);
    cursor: not-allowed;
  }
}

@mixin badge-variant($variation: '') {
  $prefix: 'badge-';
  @if ($variation != '') {
    $prefix: 'badge-#{$variation}-';
  }

  color: v($prefix + color);
  background-color: v($prefix + 'background-color');

  &.nx-badge--active {
    background-color: v($prefix + active-background-color);
    color: v($prefix + active-color);
  }
  &.nx-badge--positive {
    background-color: v($prefix + positive-background-color);
    color: v($prefix + positive-color);
  }
  &.nx-badge--critical {
    background-color: v($prefix + critical-background-color);
    color: v($prefix + critical-color);
  }
  &.nx-badge--negative {
    background-color: v($prefix + negative-background-color);
    color: v($prefix + negative-color);
  }
}

:host {
  @include badge-variant();
}

:host.nx-badge--vibrant {
  @include badge-variant('vibrant');
}
