.container {
    background: var(--documentation-comparison-table-example-background-color);
    padding: 12px;
}

.product-title {
    font-weight: 600;
    margin: 0;
}

.product-price {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
    margin: 12px 0 0 0;
}

.product-underline {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.0125rem;
    font-weight: 400;
    margin: 0;
}

.check-icon {
    color: var(--success);
}

::ng-deep .is-selected .check-icon {
    color: var(--success-02, --success);
}
