@use '../../../../ng-aquila/src/shared-styles/index' as *;

:host {
  cursor: pointer;

  .nx-sort-header__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    nx-icon {
      font-size: v(plain-button-icon-size);
      margin-left: v(table-header-sort-icon-margin-left);
    }
  }
}

.nx-sort-header__focus-container {
  display: flex;
}

.nx-sort-header__focus-container:focus {
  // don't show inner dotted border on firefox
  outline: 0;

  &.cdk-keyboard-focused {
    @include focus-style;
    border-radius: nx-border-radius(s);
  }
}

@media screen and (forced-colors: active) {
  .nx-sort-header__focus-container {
    color: buttonText;
  }
}
