<div
  #focusContainer
  class="nx-sort-header__focus-container"
  role="button"
  tabindex="0"
  [title]="_getTitle()"
  aria-live="polite"
>
  <ng-content></ng-content>
  <div class="nx-sort-header__icons-container" [attr.aria-label]="_getAriaLabel()">
    @if (!_isSorted()) {
      <nx-icon name="chevron-up-small" class="nx-sort-header__unsorted" aria-hidden="true">
      </nx-icon>
    }
    @if (!_isSorted()) {
      <nx-icon name="chevron-down-small" class="nx-sort-header__unsorted" aria-hidden="true">
      </nx-icon>
    }

    @if (_isSortedAscending()) {
      <nx-icon name="arrow-left" class="nx-sort-header__ascend" aria-hidden="true"> </nx-icon>
    }
    @if (_isSortedDescending()) {
      <nx-icon name="arrow-right" class="nx-sort-header__descend" aria-hidden="true"> </nx-icon>
    }
  </div>
</div>
