@use '../shared-styles/index' as *;

:host {
  ::ng-deep {
    nx-error {
      margin-top: v(checkbox-group-text-error-margin-top);

      &.nx-error--message {
        margin-top: v(checkbox-group-message-error-margin-top);
      }
    }

    nx-label {
      margin-bottom: v(checkbox-label-margin-bottom);
      display: block;
    }
  }

  &.nx-checkbox-group--negative {
    ::ng-deep {
      nx-error,
      nx-label,
      nx-icon.nx-error__icon {
        color: v(negative);
      }
    }
  }
}
