@if (tags.length > 0) {
    <ul class="nx-taglist">
        @for (tag of tags; track tag; let i = $index) {
            <li class="nx-taglist__list-item" tabindex="-1">
                <nx-tag
                    [value]="renderTag(tag)"
                    [removable]="allowTagDeletion"
                    [tabindex]="tabindex"
                    (clicked)="tagClick(i, $event)"
                    (removed)="delete(i, $event)"
                ></nx-tag>
            </li>
        }
    </ul>
}
@if (tags.length < 1) {
    <ng-content></ng-content>
}
