<ng-template #content>
  @if (_table.viewType === 'desktop' || _table.viewType === 'tablet') {
    <!-- The interactive element + aria-expanded + id live on the host <th> in the table template
         (so the id is on a real <th> for the cells' headers= association). Here we only project
         the label + chevron. -->
    <span class="nx-comparison-table-toggle-section__header-content">
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
      <nx-icon
        class="nx-expansion-panel__chevron"
        [ngClass]="_chevronClass()"
        name="chevron-down"
        aria-hidden="true"
      >
      </nx-icon>
    </span>
  }

  @if (_table.viewType === 'mobile') {
    <th
      class="nx-comparison-table__mobile-toggle-section-header"
      scope="col"
      [attr.colspan]="_toggleSection._numberOfRows()"
      [attr.id]="id"
    >
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </th>
  }
</ng-template>

<ng-template #ngContent>
  <ng-content></ng-content>
</ng-template>
