nx-icon {
    color: var(--interactive-primary, #27abd6);
    vertical-align: middle;
    cursor: pointer;
}

nx-icon:hover {
    color: var(--hover-primary, #3bb4db);
}

nx-icon.cdk-mouse-focused {
    outline: none;
}
