@import '../../shared-styles/index';

:host {
  display: block;
  @include var(color, text-01);

  &.nx-label--small {
    @include type-style(base-label-small);
  }

  &.nx-label--large {
    @include type-style(base-label-large);
  }

  &[disabled=true] {
    label {
      cursor: not-allowed;
    }
  }

  &.nx-label--negative {
    @include var(color, negative);
  }
}
