@import '../../shared-styles/index';

.nx-comparison-table__mobile-header-cell.is-selected,
.nx-comparison-table__cell.is-selected {
    background-color: v(comparison-table-selected-column-background-color);
    color: v(comparison-table-selected-column-text-color);
}

.nx-comparison-table__mobile-header-cell.is-hidden,
.nx-comparison-table__cell.is-hidden {
    display: none;
}
