<ng-template #content>
  @if (_table.viewType === 'desktop' || _table.viewType === 'tablet') {
    @if (type === 'header') {
      <th
        class="nx-comparison-table__cell nx-comparison-table__product-cell nx-comparison-table__header-cell"
        [class.is-disabled]="_isCellDisabled()"
        scope="col"
        role="columnheader"
        [class.is-selected]="_isSelected()"
        [class.has-popular-above]="_hasPopularAbove()"
        [class.is-hidden]="_isCellHidden()"
        [attr.id]="id"
        [attr.data-ct-col]="_visiblePosition()"
        [class.is-error]="_table.isError"
        [class.first]="_isFirst()"
        [class.last]="_isLast()"
      >
        <span class="nx-comparison-table__cell-inner">
          <ng-container *ngTemplateOutlet="ngContent"></ng-container>
        </span>
      </th>
    } @else {
      <td
        class="nx-comparison-table__cell nx-comparison-table__product-cell"
        [class.nx-comparison-table__footer-cell]="type === 'footer'"
        [class.is-disabled]="_isCellDisabled()"
        role="cell"
        [class.is-selected]="_isSelected()"
        [class.is-hidden]="_isCellHidden()"
        [class.is-faded]="_isOutsidePage()"
        [attr.id]="id"
        [attr.data-ct-col]="_visiblePosition()"
        [attr.headers]="_headerIds()"
        [class.is-error]="_table.isError"
        [class.first]="_isFirst()"
        [class.last]="_isLast()"
      >
        <span class="nx-comparison-table__cell-inner">
          <ng-container *ngTemplateOutlet="ngContent"></ng-container>
        </span>
      </td>
    }
  }
  @if (_table.viewType === 'mobile') {
    <td
      class="nx-comparison-table__mobile-cell"
      [class.nx-comparison-table__mobile-header-cell]="type === 'header'"
      [class.nx-comparison-table__cell]="type !== 'header'"
      [class.nx-comparison-table__footer-cell]="type === 'footer'"
      [class.is-selected]="_isSelected()"
      [class.is-hidden]="_isCellHidden()"
      [attr.scope]="type === 'header' ? 'row' : ''"
      [attr.id]="id"
      [attr.headers]="_headerIds()"
      [class.is-error]="_table.isError"
      [class.first]="_isFirst()"
      [class.last]="_isLast()"
    >
      <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </td>
  }
</ng-template>

<ng-template #ngContent>
  @if (_showRadioIndicator()) {
    <span class="nx-comparison-table__radio-indicator" aria-hidden="true">
      <nx-radio-indicator
        [checked]="_isSelected()"
        [disabled]="_isCellDisabled()"
      ></nx-radio-indicator>
    </span>
  }
  <ng-content></ng-content>
</ng-template>
