:host {
  display: table-cell;
  --expandable-table-animation: 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nx-expandable-table-cell__content {
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  overflow: hidden;
  transition:
    grid-template-rows var(--expandable-table-animation),
    visibility var(--expandable-table-animation);

  .nx-expandable-table-cell__wrapper {
    transition: padding var(--expandable-table-animation);
  }

  &:not(.is-open) .nx-expandable-table-cell__wrapper {
    min-height: 0; // Required for grid animation to work properly
    padding-top: 0;
    padding-bottom: 0;
  }

  &.is-open {
    grid-template-rows: 1fr;
    visibility: visible;
  }
}
