@use '../../shared-styles/index' as *;

:host {
  display: block;
}

.nx-toggle-button {
  .nx-toggle-button__icon {
    transform: v(table-expandable-toggle-collapsed-rotation);
    transition: transform 200ms ease;
    color: v(expandable-table-arrow-icon-color);
  }

  &.is-expanded {
    .nx-toggle-button__icon {
      transform: v(table-expandable-toggle-expanded-rotation);
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.nx-toggle-button.cdk-keyboard-focused {
  border-radius: nx-border-radius(s);
  @include focus-style;
}
