@use '../../shared-styles/index' as *;

:host {
  flex: 0 0 auto;
  height: 100%;
  z-index: 1;
  background-color: v(tab-scroll-indicator-background-color);

  button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--tab-item-border-width);
    bottom: 0;
    background-color: var(--tab-item-border-color);
  }

  :host-context(nx-tab-group.is-expert) {
    button::after {
      bottom: calc(-1 * var(--tab-item-border-width));
    }
  }

  button {
    display: flex;
    align-items: v(tab-scroll-indicator-align);
    justify-content: center;
    width: 100%;
    padding: var(--tab-item-padding);
    margin: var(--tab-item-margin);
    // reset the inline margin coming from var(--tab-item-margin)
    margin-inline: 0;
  }

  &.start-button.is-scrolled-to-start,
  &.end-button.is-scrolled-to-end {
    display: none;
  }

  &.start-button {
    position: absolute;
    display: flex;
    top: 0;
    inset-inline-start: 0;

    &::after {
      content: '';
      display: block;
      width: v(tab-scroll-indicator-fade-width);
      position: absolute;
      top: 0;
      inset-inline-end: calc(0px - v(tab-scroll-indicator-fade-width));
      height: calc(100% - var(--tab-item-border-width));
      background: linear-gradient(
        to left,
        transparent 0%,
        v(tab-scroll-indicator-background-color) 100%
      );

      [dir='rtl'] & {
        background: linear-gradient(
          to right,
          transparent 0%,
          v(tab-scroll-indicator-background-color) 100%
        );
      }
    }
  }

  &.end-button {
    position: absolute;
    display: flex;
    top: 0;
    inset-inline-end: 0;

    &::before {
      content: '';
      display: block;
      width: v(tab-scroll-indicator-fade-width);
      position: absolute;
      top: 0;
      inset-inline-start: calc(0px - v(tab-scroll-indicator-fade-width));
      height: calc(100% - var(--tab-item-border-width));
      background: linear-gradient(
        to right,
        transparent 0%,
        v(tab-scroll-indicator-background-color) 100%
      );

      [dir='rtl'] & {
        background: linear-gradient(
          to left,
          transparent 0%,
          v(tab-scroll-indicator-background-color) 100%
        );
      }
    }
  }

  // desktop
  @include media-breakpoint-up(medium) {
    display: flex;
    width: v(tab-scroll-indicator-width);

    button {
      display: flex;
    }
  }
}

:host-context(nx-tab-group.is-expert),
:host-context(nx-tab-nav-bar.is-expert) {
  border-bottom: none;
  height: 40px;
}

:host-context(nx-tab-group.is-negative),
:host-context(nx-tab-nav-bar.is-negative) {
  --tab-scroll-indicator-background-color: var(--negative-background);

  button {
    color: v(negative);
  }
}
