@use '../../shared-styles/index' as *;

:host {
  flex: 0 0 auto;
  height: 100%;
  z-index: 1;
  background-color: v(ui-01);

  button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--tab-item-border-width);
    bottom: 0;
    background-color: var(--tab-item-border-color);
  }

  button {
    display: flex;
    align-items: v(tab-scroll-indicator-align);
    justify-content: center;
    width: 100%;
    padding: var(--tab-item-padding);
    margin: var(--tab-item-margin);
    // reset the inline margin coming from var(--tab-item-margin)
    margin-inline: 0;
  }

  &.start-button.is-scrolled-to-start,
  &.end-button.is-scrolled-to-end {
    display: none;
  }

  &.start-button {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;

    &::after {
      content: '';
      display: v(tab-header-indicator-display);
      width: v(tab-scroll-indicator-fade-width);
      position: absolute;
      top: 0;
      right: calc(0px - v(tab-scroll-indicator-fade-width));
      height: calc(100% - var(--tab-item-border-width));
      background: linear-gradient(to left, transparent 0%, v(ui-01) 100%);
    }
  }

  &.end-button {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;

    &::before {
      content: '';
      display: v(tab-header-indicator-display);
      width: v(tab-scroll-indicator-fade-width);
      position: absolute;
      top: 0;
      left: calc(0px - v(tab-scroll-indicator-fade-width));
      height: calc(100% - var(--tab-item-border-width));
      background: linear-gradient(to right, transparent 0%, v(ui-01) 100%);
    }
  }

  // mobile
  @include media-breakpoint-down(medium) {
    width: v(tab-scroll-indicator-width-small-screen);

    button {
      display: v(tab-header-indicator-display);
    }
  }

  // desktop
  @include media-breakpoint-up(medium) {
    display: flex;
    width: v(tab-scroll-indicator-width);

    button {
      display: flex;
    }
  }
}

:host-context(nx-tab-group.is-expert),
:host-context(nx-tab-nav-bar.is-expert) {
  border-bottom: none;
  height: 40px;
}

:host-context(nx-tab-group.is-negative),
:host-context(nx-tab-nav-bar.is-negative) {
  button {
    color: v(negative);
  }
}
