// This is the file that should be imported by the theming consumer apps so that they can use our mixins and base themes.

$nx-themes: (); // all registered themes are added here
$nx-themes: () !global;

// optional per-theme override mixin references, keyed by theme name
$nx-theme-extra-styles: ();
$nx-theme-extra-styles: () !global;

@import 'mixins';
