<div class="nx-toggle-circle__icon-wrapper">
  @if (!inGroup()) {
    <span class="nx-toggle-circle__check-icon">
      <nx-icon name="check" aria-hidden="true"></nx-icon>
    </span>
    <div class="nx-toggle-circle__check-focus"></div>
  }
  <span class="nx-toggle-circle__icon">
    @if (icon()) {
      <nx-icon size="m" [name]="icon()" aria-hidden="true"></nx-icon>
    }
    @if (svgUrl()) {
      <img class="nx-toggle-circle__icon-image" [src]="svgUrl()" alt="" />
    }
    @if (circleText()) {
      <span class="nx-toggle-circle__content-text">{{ circleText() }}</span>
    }
  </span>
</div>
@if (label()) {
  <span [class.is-label-bold]="hint()" class="nx-toggle-circle__label-text">{{ label() }}</span>
}
@if (hint()) {
  <span class="nx-toggle-circle__label-hint">{{ hint() }}</span>
}
