@import '../../shared-styles/index';

:host {
    display: block;

    .nx-comparison-table__group-expansion-cell {
        cursor: pointer;
        color: v(comparison-table-expansion-cell-color);

        &:focus {
            // don't show inner dotted border on firefox
            outline: 0;
        }

        .nx-comparison-table__cell-content {
            display: flex;
            justify-content: center;
        }

        .group-label {
            @include type-style(comparison-table-group-label);
        }

        @media screen and (forced-colors: active) {
            color: buttonText;
            background: buttonFace;
            border-color: buttonText;
        }
    }
}

.nx-comparison-table__group-expansion-cell.cdk-keyboard-focused {
    .nx-comparison-table__cell-content {
        @include focus-style;
    }
}
