<nx-tab-nav-bar appearance="expert">
  @for (link of links; track link) {
  <a
    nxTabLink
    (click)="setActiveLink(link)"
    [active]="currentLink.label === link.label"
    [routerLink]="link.path"
  >
    <span class="link-content">
      {{link.label}} @if (link.notification) {
      <nx-indicator
        position="over-text"
        [attr.aria-label]="getAriaLabel(link.notificationCount!)"
        >{{ link.notificationCount }}</nx-indicator
      >
      }
    </span>
  </a>
  }
</nx-tab-nav-bar>
