@import '../../shared-styles/index';

nx-message {
  box-shadow: v(message-box-shadow);
  max-width: 352px;
  margin-bottom: nx-spacer(s);

  @include media-breakpoint-down(small) {
    max-width: calc(100vw - #{nx-spacer(s)});
  }
}

// Ensure toast overlay appears on top of other overlays
::ng-deep .cdk-global-overlay-wrapper:has(nx-message-toast) {
  z-index: 2000 !important;
}
