@import '../../shared-styles/index';

nx-message {
    box-shadow: v(message-box-shadow);
    max-width: 352px;

    @include media-breakpoint-down(small) {
        max-width: calc(100vw - #{nx-spacer(s)});
    }
}
