@use '../../shared-styles/index' as *;

:host {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity $message-toast-duration $message-toast-easing,
    transform $message-toast-duration $message-toast-easing;

  &.nx-message-toast--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.nx-message-toast--hidden {
    opacity: 0;
    transform: translateY(200%);
  }
}

nx-message {
  box-shadow: v(message-box-shadow);
  max-width: 352px;
  margin-bottom: nx-spacer(s);

  @include media-breakpoint-down(small) {
    max-width: calc(100vw - #{nx-spacer(s)});
  }
}

// Ensure toast overlay appears on top of other overlays
::ng-deep .cdk-global-overlay-wrapper:has(nx-message-toast) {
  z-index: 2000 !important;
}
