@import '../shared-styles/index';

$radio-border-radius: 50%;

:host {
  display: block;
  position: relative;
}

.nx-radio__input {
  opacity: 0;
  position: absolute;
}

:host(.nx-radio-button--small-label) {
  .nx-radio__label {
    @include type-style(radio-button-small-label);

    &.has-label {
      .nx-radio__circle {
        @include var(margin-top, radio-button-small-circle-margin-top);
      }
    }
  }

  .nx-radio__label--text:not(:empty) {
    @include var(margin-left, radio-button-small-label-margin-left);
    @include var(margin-top, radio-button-small-label-margin-top);

    [dir="rtl"] & {
      @include var(margin-right, radio-button-small-label-margin-left);
      margin-left: initial;
    }
  }
}

:host(.nx-radio-button--big-label) {
  .nx-radio__label {
    @include type-style(radio-button-large-label);

    &.has-label {
      .nx-radio__circle {
        @include var(margin-top, radio-button-large-circle-margin-top);
      }
    }
  }

  .nx-radio__label--text:not(:empty) {
    @include var(margin-left, radio-button-large-label-margin-left);
    @include var(margin-top, radio-button-large-label-margin-top);

    [dir="rtl"] & {
      @include var(margin-right, radio-button-large-label-margin-left);
      margin-left: initial;
    }
  }
}

:host.nx-radio--negative {
  .nx-radio__label--text {
    @include var(color, negative);
  }

  .nx-radio__circle {
    @include var(border-color, negative);
  }

  .nx-radio__input:checked + .nx-radio__label  {
    .nx-radio__circle {
      @include var(border-color, negative);
      background-color: transparent;
    }

    .nx-radio__dot {
      @include var(background, negative);
    }
  }

  .nx-radio__input:disabled + .nx-radio__label {
    opacity: 0.4;
  }
}

.nx-radio__label {
  @include var(color, radio-button-label-color);
  cursor: pointer;
  display: flex;
  position: relative;
}

.nx-radio__circle {
  border-width: nx-border-size(m);
  border-style: solid;
  @include var(border-color, radio-button-circle-color);
  border-radius: $radio-border-radius;
  width: nx-spacer(m);
  min-width: nx-spacer(m);
  height: nx-spacer(m);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nx-radio__dot {
  @include var(width, radio-button-dot-size);
  @include var(height, radio-button-dot-size);
  @include var(background-color, radio-button-dot-background-color);
  border-radius: $radio-border-radius;
  transition: background-color .2s ease;
}

.nx-radio__input:checked + .nx-radio__label {

  .nx-radio__circle {
    @include var(border-color, radio-button-selected-circle-color);
    @include var(background-color, radio-button-selected-background-color);
  }

  .nx-radio__dot {
    @include var(background-color, radio-button-selected-dot-color);
  }
}

.nx-radio__input:disabled + .nx-radio__label {
  cursor: not-allowed;
  @include var(color, radio-button-disabled-text-color);

  .nx-radio__circle {
    @include var(border-color, radio-button-disabled-border-color);
  }
}

.nx-radio__input:checked:disabled + .nx-radio__label {

  .nx-radio__circle {
    @include var(background-color, radio-button-disabled-selected-background-color);
  }

  .nx-radio__dot {
    @include var(background-color, radio-button-disabled-selected-dot-color);
  }
}

// error style
:host.has-error {
  .nx-radio__input + .nx-radio__label {

    .nx-radio__circle {
      @include var(border-color, danger);
    }

    .nx-radio__dot {
      @include var(background-color, danger);
    }
  }
}

// focus style
:host-context([data-whatinput="keyboard"]) {
  .nx-radio__input:focus + .nx-radio__label .nx-radio__circle {
    @include focus-style;
  }
}

// hover styling
:host:not(.nx-radio--negative):not(.has-error) .nx-radio__input:not(:disabled) {
  & + .nx-radio__label:hover .nx-radio__circle {
    @include var(border-color, radio-button-hover-circle-color);
  }

  &:checked + .nx-radio__label:hover .nx-radio__dot {
    @include var(background-color, radio-button-hover-dot-color);
  }
}

// active styling
:host:not(.nx-radio--negative):not(.has-error) .nx-radio__input:not(:disabled)  {
  & + .nx-radio__label:active .nx-radio__circle {
    @include var(border-color, radio-button-hover-circle-color);
  }

  &:checked + .nx-radio__label:active .nx-radio__dot {
    @include var(background-color, radio-button-hover-dot-color);
  }
}

@media screen and (-ms-high-contrast: active) {
  .nx-radio__label {
    color: buttonText;
  }

  .nx-radio__circle {
    border-color: buttonText;
    background-color: buttonFace;
  }

  .nx-radio__input:checked + .nx-radio__label {
    .nx-radio__circle {
      border-color: highlight;
    }

    .nx-radio__dot {
      background-color: highlight;
    }
  }

  .nx-radio__input:disabled + .nx-radio__label,
  :host.nx-radio--negative .nx-radio__input:disabled + .nx-radio__label {
    color: GrayText;
    opacity: 1;

    .nx-radio__circle {
      border-color: GrayText;
    }
  }

  .nx-radio__input:checked:disabled +.nx-radio__label {
    .nx-radio__dot {
      background-color: GrayText;
    }
  }
}
