@import '../shared-styles/index';

.nx-sidebar__footer-container {
    ::ng-deep .nx-button,
    ::ng-deep .nx-icon-button,
    ::ng-deep .nx-sidebar__toggle-button {
        color: v(sidebar-footer-button-color);
    }
}
