@use '../shared-styles/index' as *;

:host {
  margin: 0 0 0 auto;

  [dir='rtl'] & {
    margin: 0 auto 0 0;
  }

  // always place toggle on the right
  order: 100;

  nx-icon {
    transform: rotate(-90deg);

    [dir='rtl'] & {
      transform: rotate(90deg);
    }
  }
}
