@use '../shared-styles/index' as *;

$sidebar-width: 280px;

:host {
  position: relative;
  height: 100%;
  transition: width 0.15s ease;
  display: flex;
  flex: 0 0 auto;
  width: $sidebar-width;
  background: v(sidebar-background-color);
  container-type: inline-size;

  &.is-resizing {
    transition: none;
  }

  @include media-breakpoint-down(small) {
    width: 100%;
    transition: none;

    .nx-sidebar__handle {
      display: none;
    }
  }

  ::ng-deep .nx-action {
    // can move to action if design is exclusive for sidebar
    --action-color: var(--sidebar-button-text-color);
    --action-selected-color: var(--sidebar-button-text-color-selected);
    --action-background-color: var(--sidebar-button-background-color);
    --action-hover-background-color: var(--sidebar-button-background-color-hover);
    --action-selected-background-color: var(--sidebar-button-background-color-selected);
    --action-icon-padding-right: var(--sidebar-button-icon-gap);
    --action-padding: var(--sidebar-button-padding);
    --action-buffer-display: var(--sidebar-button-buffer-display);
    &:active {
      background-color: v(sidebar-button-background-color-active) !important;
    }
    &.is-selected {
      font-weight: v(sidebar-button-font-weight-selected);
      &:hover {
        background-color: v(sidebar-button-background-color-selected-hover);
      }
      &:active {
        background-color: v(sidebar-button-background-color-selected-active) !important;
      }
    }
    border-radius: v(sidebar-button-border-radius);
    margin-bottom: v(sidebar-button-gap) !important;
  }

  &.is-closed {
    ::ng-deep .nx-sidebar__toggle-button {
      transform: rotateZ(180deg);
    }

    ::ng-deep .nx-sidebar__footer {
      justify-content: center;
    }

    ::ng-deep .nx-sidebar__footer-container {
      flex-direction: column;
      align-items: center;
    }
    ::ng-deep .nx-action__wrapper {
      text-wrap: nowrap;
      flex-shrink: 1;
    }
  }

  &.hide-label {
    ::ng-deep .nx-action__wrapper {
      justify-content: center;

      &::before {
        display: none;
      }

      .nx-action-icon__container {
        padding-right: 0;
      }

      .nx-action__label {
        display: none;
      }
    }
    ::ng-deep .nx-action {
      --action-padding: var(--sidebar-button-padding-hide);
    }
  }
}

::ng-deep .nx-sidebar__footer {
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  color: v(sidebar-footer-button-color);

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 0 1 22px;
    min-width: nx-spacer(2xs);
    height: 1px;
  }

  &::after {
    flex: 0 1 nx-spacer(s);
  }
}

::ng-deep .nx-sidebar__footer-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.nx-sidebar__handle {
  --handle-position: calc((var(--sidebar-handle-width) - var(--sidebar-handle-offset)) * -1);
  position: absolute;
  right: var(--handle-position);
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: none;
  box-shadow: none;
  background: none;
  margin: 0;
  cursor: col-resize;
  outline: none;
  z-index: 1;
  color: v(sidebar-handle-color);
  padding: 0;
  width: v(sidebar-handle-width);

  :host-context([dir='rtl']) & {
    right: auto;
    left: var(--handle-position);
  }
  &::before {
    // Default
    content: '||';
    display: v(sidebar-handle-big-display);
  }
  &::after {
    // only A1
    content: ' ';
    display: v(sidebar-handle-small-display);
    height: 14px;
    width: 2px;
    background-color: v(sidebar-handle-color);
    border-radius: 40px;
  }

  &::before,
  &::after {
    font-size: nx-font-size(4xs);
    letter-spacing: -0.0625rem;
    font-weight: $font-weight-semibold;
    color: inherit;

    @media screen and (forced-colors: active) {
      forced-colors-adjust: none;
      color: buttonText;
      background-color: buttonFace;
      box-shadow:
        0 0 0 6px buttonFace,
        0 0 0 nx-spacer(2xs) buttonText;
    }
  }

  // don't show inner dotted border on firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

.nx-sidebar__handle.cdk-keyboard-focused {
  &::before,
  &::after {
    border-radius: nx-border-radius(s);
    padding-right: 1px;
    @include focus-style;

    [dir='rtl'] & {
      padding-right: initial;
      padding-left: 1px;
    }
  }
}

.nx-sidebar__box {
  height: 100%;
  flex: 1 1 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: v(sidebar-background-color);
  border-right: v(sidebar-border-right);

  :host-context([dir='rtl']) & {
    border-right: none;
    border-left: v(sidebar-border-right);
  }

  @media screen and (forced-colors: active) {
    border-color: CanvasText;
  }
}

:host(.nx-sidebar--emphasis) .nx-sidebar__box {
  background: v(sidebar-background-color-emphasis);
}

.nx-sidebar__content {
  flex: 1 1 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-top: v(sidebar-content-padding-vertical);
  padding-left: v(sidebar-content-padding-horizontal);
  padding-right: v(sidebar-content-padding-horizontal);

  &:only-child {
    padding-bottom: v(sidebar-content-padding-vertical);
  }
}

@container (width <= 56px) {
  .nx-sidebar__content {
    padding-left: v(sidebar-content-padding-horizontal-mobile);
    padding-right: v(sidebar-content-padding-horizontal-mobile);
  }
}
