<table nxTable class="nx-table--reorder">
    <thead>
        <tr
            nxTableRow
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal"
        >
            <th
                *ngFor="let h of header; let i = index"
                nxHeaderCell
                cdkDrag
                cdkDragLockAxis="x"
            >
                {{h.title}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr nxTableRow *ngFor="let item of content">
            <td nxTableCell *ngFor="let h of header" class="col">
                {{item[h.field]}}
            </td>
        </tr>
    </tbody>
</table>
