<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxLayout</span>=<span class="hljs-string">&quot;grid&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxRow</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Input&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">nxInput</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Autocomplete&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;text&quot;</span> <span class="hljs-attr">nxInput</span> [<span class="hljs-attr">nxAutocomplete</span>]=<span class="hljs-string">&quot;auto1&quot;</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-autocomplete</span> #<span class="hljs-attr">auto1</span>=<span class="hljs-string">&quot;nxAutocomplete&quot;</span>&gt;</span>
          @for (option of autocompleteOptions; track option) {
            <span class="hljs-tag">&lt;<span class="hljs-name">nx-autocomplete-option</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;option&quot;</span>&gt;</span>
              {{ option }}
            <span class="hljs-tag">&lt;/<span class="hljs-name">nx-autocomplete-option</span>&gt;</span>
          }
        <span class="hljs-tag">&lt;/<span class="hljs-name">nx-autocomplete</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxRow</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Dropdown&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-dropdown</span>&gt;</span>
          @for (option of dropdownOptions; track option) {
            <span class="hljs-tag">&lt;<span class="hljs-name">nx-dropdown-item</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;option&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-dropdown-item</span>&gt;</span>
          }
        <span class="hljs-tag">&lt;/<span class="hljs-name">nx-dropdown</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Multi select&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-multi-select</span>
          <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;Choose options&quot;</span>
          [<span class="hljs-attr">options</span>]=<span class="hljs-string">&quot;multiSelectOptions&quot;</span>
          <span class="hljs-attr">selectValue</span>=<span class="hljs-string">&quot;id&quot;</span>
          <span class="hljs-attr">selectLabel</span>=<span class="hljs-string">&quot;label&quot;</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-multi-select</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxRow</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield-label</span>&gt;</span>Phone number<span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield-label</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-phone-input</span> <span class="hljs-attr">countryCode</span>=<span class="hljs-string">&quot;FR&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-phone-input</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;License Plate&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-licence-plate-euro-prefix</span> <span class="hljs-attr">nxFormfieldPrefix</span>
          &gt;</span>D&lt;/nx-licence-plate-euro-prefix
        &gt;
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span>
          <span class="hljs-attr">nxInput</span>
          <span class="hljs-attr">nxLicensePlate</span>=<span class="hljs-string">&quot;de_standard&quot;</span>
          [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;licenceValue&quot;</span>
        /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxRow</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-timefield</span>
        <span class="hljs-attr">withTimepicker</span>
        <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span>
        <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Time&quot;</span>
        [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;timeValue&quot;</span>
      &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-timefield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Datefield&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span>
          <span class="hljs-attr">nxDatefield</span>
          <span class="hljs-attr">nxInput</span>
          [<span class="hljs-attr">datepicker</span>]=<span class="hljs-string">&quot;myDatepicker&quot;</span>
          [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;currentDate&quot;</span>
        /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">nxFormfieldHint</span>&gt;</span>MM/DD/YYYY<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker-toggle</span>
          [<span class="hljs-attr">for</span>]=<span class="hljs-string">&quot;myDatepicker&quot;</span>
          <span class="hljs-attr">nxFormfieldSuffix</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker-toggle</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker</span> #<span class="hljs-attr">myDatepicker</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxRow</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Datemask&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datemask</span>
          <span class="hljs-attr">visualSeperator</span>=<span class="hljs-string">&quot;/&quot;</span>
          <span class="hljs-attr">format</span>=<span class="hljs-string">&quot;DD.MM.YYYY&quot;</span>
          [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;customDate&quot;</span>
          [<span class="hljs-attr">datepicker</span>]=<span class="hljs-string">&quot;maskDatepicker&quot;</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datemask</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">nxFormfieldHint</span>&gt;</span>DD.MM.YYYY<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker-toggle</span>
          [<span class="hljs-attr">for</span>]=<span class="hljs-string">&quot;maskDatepicker&quot;</span>
          <span class="hljs-attr">nxFormfieldSuffix</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker-toggle</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker</span> #<span class="hljs-attr">maskDatepicker</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">nxCol</span>=<span class="hljs-string">&quot;12,12,6&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">nx-formfield</span> <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;s&quot;</span> <span class="hljs-attr">label</span>=<span class="hljs-string">&quot;Date Range&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-date-range</span>
          [<span class="hljs-attr">datepicker</span>]=<span class="hljs-string">&quot;rangeDatepicker&quot;</span>
          <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;mm/dd/yyyy&quot;</span>
          [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;dateRange&quot;</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-date-range</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">nxFormfieldHint</span>&gt;</span>MM/DD/YYYY - MM/DD/YYYY<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker-toggle</span>
          [<span class="hljs-attr">for</span>]=<span class="hljs-string">&quot;rangeDatepicker&quot;</span>
          <span class="hljs-attr">nxFormfieldSuffix</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker-toggle</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-datepicker</span>
          #<span class="hljs-attr">rangeDatepicker</span>
          [<span class="hljs-attr">rangeMode</span>]=<span class="hljs-string">&quot;true&quot;</span>
          [<span class="hljs-attr">showTodayButton</span>]=<span class="hljs-string">&quot;true&quot;</span>
        &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-datepicker</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">nx-formfield</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
