<span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">nx-header</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-header-brand</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-link</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">&quot;#&quot;</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">figure</span> <span class="hljs-attr">nxFigure</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span>
                        <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;assets/logos/aposin_logo.svg&quot;</span>
                        <span class="hljs-attr">alt</span>=<span class="hljs-string">&quot;Brand Logo&quot;</span>
                        <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;none&quot;</span>
                    /&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">figure</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">nx-link</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">nx-header-app-title</span>&gt;</span>Application title<span class="hljs-tag">&lt;/<span class="hljs-name">nx-header-app-title</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">nx-header-brand</span>&gt;</span>

    @if (viewType === &#x27;tablet&#x27; || viewType === &#x27;desktop&#x27;) {
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-header-actions</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">nxPlainButton</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Open Search Bar&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;search&quot;</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">&quot;true&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-icon</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-link</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;nx-margin-left-s&quot;</span> <span class="hljs-attr">nxStyle</span>=<span class="hljs-string">&quot;icon-only&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">routerLink</span>=<span class="hljs-string">&quot;#&quot;</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Settings&quot;</span>
                &gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;setting&quot;</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">&quot;true&quot;</span>&gt;</span>&lt;/nx-icon
            &gt;<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">nx-link</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-link</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;nx-margin-left-s&quot;</span> <span class="hljs-attr">nxStyle</span>=<span class="hljs-string">&quot;icon-only&quot;</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">routerLink</span>=<span class="hljs-string">&quot;#&quot;</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;More information&quot;</span>
                &gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;info-circle-o&quot;</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">&quot;true&quot;</span>&gt;</span>&lt;/nx-icon
            &gt;<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">nx-link</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span>
            <span class="hljs-attr">nxPlainButton</span>
            <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;nx-margin-left-s&quot;</span>
            <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Show notifications&quot;</span>
        &gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;bell-o&quot;</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">&quot;true&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-icon</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">nx-header-actions</span>&gt;</span>
    }@if (viewType === &#x27;mobile&#x27;){ @if (!menu.open) {
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-header-actions</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">button</span>
            <span class="hljs-attr">nxPlainButton</span>
            (<span class="hljs-attr">click</span>)=<span class="hljs-string">&quot;menu.toggle()&quot;</span>
            <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;open menu&quot;</span>
            <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;button&quot;</span>
        &gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;bars&quot;</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">&quot;true&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-icon</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">nx-header-actions</span>&gt;</span>
    } @else {
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span>
        <span class="hljs-attr">nxPlainButton</span>
        <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;close-menu&quot;</span>
        (<span class="hljs-attr">click</span>)=<span class="hljs-string">&quot;menu.toggle()&quot;</span>
        <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;button&quot;</span>
        <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;close menu&quot;</span>
    &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">nx-icon</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;close&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">nx-icon</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    } }
<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">nx-menu</span> #<span class="hljs-attr">menu</span>&gt;</span>
    @for (item of menuData; track item) {
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span>
        <span class="hljs-attr">nxMenuButton</span>
        <span class="hljs-attr">menuButtonType</span>=<span class="hljs-string">&quot;root&quot;</span>
        <span class="hljs-attr">nxMenuItem</span>
        <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;button&quot;</span>
        <span class="hljs-attr">routerLink</span>=<span class="hljs-string">&quot;{{item.menuLink}}&quot;</span>
    &gt;</span>
        {{item.label}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    }
<span class="hljs-tag">&lt;/<span class="hljs-name">nx-menu</span>&gt;</span>
