<span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button-group</span> [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;hugging&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">nx-label</span>&gt;</span>Content sizing, wraps into the next line<span class="hljs-tag">&lt;/<span class="hljs-name">nx-label</span>&gt;</span>
  @for (country of countries; track country.value) {
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;country.value&quot;</span>&gt;</span>{{
      country.label
    }}<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button</span>&gt;</span>
  }
<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button-group</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button-group</span> [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;equal&quot;</span> <span class="hljs-attr">columnSizing</span>=<span class="hljs-string">&quot;equal&quot;</span> [<span class="hljs-attr">maxColumns</span>]=<span class="hljs-string">&quot;3&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">nx-label</span>&gt;</span>Equal sizing with at most three columns<span class="hljs-tag">&lt;/<span class="hljs-name">nx-label</span>&gt;</span>
  @for (country of countries; track country.value) {
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;country.value&quot;</span>&gt;</span>{{
      country.label
    }}<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button</span>&gt;</span>
  }
<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button-group</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button-group</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;custom-layout&quot;</span>
  [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;custom&quot;</span>
  [<span class="hljs-attr">autoGrid</span>]=<span class="hljs-string">&quot;false&quot;</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">nx-label</span>&gt;</span>Own layout, two columns from 600px on<span class="hljs-tag">&lt;/<span class="hljs-name">nx-label</span>&gt;</span>
  @for (country of countries; track country.value) {
    <span class="hljs-tag">&lt;<span class="hljs-name">nx-toggle-button</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;country.value&quot;</span>&gt;</span>{{
      country.label
    }}<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button</span>&gt;</span>
  }
<span class="hljs-tag">&lt;/<span class="hljs-name">nx-toggle-button-group</span>&gt;</span>
