@if (shouldRender()) {
  <div
    class="nx-tooltip"
    [class.fade-in]="visibility === 'visible'"
    [class.fade-out]="visibility === 'hidden'"
    [style.opacity]="visibility === 'initial' ? 0 : null"
    (animate.enter)="onEnter()"
    (animate.leave)="onLeave()"
  >
    <svg
      class="nx-tooltip__arrow"
      [ngClass]="arrowClass"
      [ngStyle]="arrowStyle"
      viewBox="0 0 1 1"
      preserveAspectRatio="none"
      aria-hidden="true"
    >
      <path [attr.d]="_svgPath()" />
    </svg>
    {{ message }}
  </div>
}
