@import '../shared-styles/index';

:host {
  display: block;
  @include var(background, sidepanel-background-color);

  &.is-floating {
    position: fixed;
    right: 0;
    z-index: 1;
    @include var(box-shadow, sidepanel-floating-shadow);

    [dir="rtl"] & {
      right: auto;
      left: 0;
    }
  }

  &.is-static {
    position: sticky;
    top: 0;
  }

  &.is-closed {
    display: none;
  }

  @media screen and (-ms-high-contrast: active) {
    border-left: 1px solid windowText;

    [dir="rtl"] & {
      border-left: none;
      border-right: 1px solid windowText;
    }
  }
}
