.cobranding {
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  margin-right: 16px;
  margin-left: auto;
}

nx-header-brand .logo-with-title {
  margin-right: 8px;
}

.logo-text {
  color: var(--text-01, #ffffff);
}

figure {
  display: flex;
  align-items: center;
}

a {
  align-items: center !important;
}

/* The custom margin inside nx-header-action will be overridden in A1 theme */
.action-item {
  margin-left: 16px;
}
