{% import "macros.html" as macros %}

<tr class="docs-api-properties-row">
    <td class="docs-api-properties-name-cell">
        {%- if property.isDirectiveInput -%}
            <div class="docs-api-input-marker">
                <span class="docs-api-input__badge">Input  
                    {%- if property.nameAlias -%}
                       { alias:  <strong>{$ property.nameAlias $}</strong> }
                    {%- endif -%}
                </span>
                {%- if property.directiveInputAlias  -%}
                    <span class="docs-api-input__keyword">
                        @Input
                        (<span class="docs-api-input-alias">{$ property.directiveInputAlias $}</span>) 
                    </span>
                {% elseif property.hasDecorator %}
                    <span class="docs-api-input__keyword">@Input</span>() 
                {%- endif -%}
            </div>
        {%- endif -%} 

        {%- if property.isDirectiveOutput -%}
            <div class="docs-api-output-marker">
                <span class="docs-api-output__badge">Output
                    {%- if property.nameAlias -%}
                       { alias:  <strong>{$ property.nameAlias $}</strong> }
                    {%- endif -%}
                </span>
                {%- if property.directiveOutputAlias -%}
                    <span class="docs-api-output__keyword">
                        @Output
                        (<span class="docs-api-output-alias">{$ property.directiveOutputAlias $}</span>) 
                    </span>
                {% elseif property.hasDecorator %}
                    <span class="docs-api-output__keyword">@Output</span>() 
                {%- endif -%}
            </div>
        {%- endif -%} 
        
        {%- if property.isDeprecated -%}
            <div class="docs-api-deprecated-marker" {$ macros.deprecationTitle(property) $}> Deprecated </div>
        {%- endif -%}

        <p class="docs-api-property">
            <code>
                <span class="docs-api-property__name">
                {$ property.name $}{%- if property.isOptional -%}?{%- endif -%}: 
                </span>
                 
                <span class="docs-api-property__type">{$ property.type | escape $}</span>
            </code>
        </p>
    </td>
    <td class="docs-api-property-description">
        {$ property.description | marked | safe $} {%- if property.deletionTarget -%}
        <strong>Deletion target:</strong> {$ property.deletionTarget $} {%- endif -%}
    </td>
</tr>
